USE [HeThongQuanLyTiemChung]
GO
/****** Object:  Table [dbo].[AnhDiaDiem]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhDiaDiem](
	[maAnhDiaDiem] [varchar](100) NOT NULL,
	[maDiaDiem] [varchar](100) NOT NULL,
	[maAnh] [varchar](100) NOT NULL,
	[laAnhChinh] [bit] NULL,
	[thuTuHienThi] [int] NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maAnhDiaDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnhDichVu]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhDichVu](
	[maAnhDichVu] [varchar](100) NOT NULL,
	[maAnh] [varchar](100) NULL,
	[maDichVu] [varchar](100) NULL,
	[laAnhChinh] [bit] NULL,
	[thuTuHienThi] [int] NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maAnhDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnhNhaCungCap]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhNhaCungCap](
	[maAnhNhaCungCap] [varchar](100) NOT NULL,
	[maNhaCungCap] [varchar](100) NOT NULL,
	[maAnh] [varchar](100) NOT NULL,
	[thuTuHienThi] [int] NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maAnhNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnhVaccine]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhVaccine](
	[maAnhVaccine] [varchar](100) NOT NULL,
	[maVaccine] [varchar](100) NOT NULL,
	[maAnh] [varchar](100) NOT NULL,
	[thuTuHienThi] [int] NULL,
	[laAnhChinh] [bit] NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maAnhVaccine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BacSi]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BacSi](
	[maBacSi] [varchar](100) NOT NULL,
	[maNguoiDung] [varchar](100) NOT NULL,
	[chuyenMon] [nvarchar](100) NULL,
	[soGiayPhep] [nvarchar](50) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maBacSi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietNhap]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhap](
	[maChiTiet] [varchar](100) NOT NULL,
	[maPhieuNhap] [varchar](100) NULL,
	[maLo] [varchar](100) NULL,
	[soLuong] [int] NULL,
	[gia] [decimal](12, 2) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietThanhLy]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietThanhLy](
	[maChiTiet] [varchar](100) NOT NULL,
	[maPhieuThanhLy] [varchar](100) NULL,
	[maLo] [varchar](100) NULL,
	[soLuong] [int] NULL,
	[lyDo] [nvarchar](255) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietXuat]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietXuat](
	[maChiTiet] [varchar](100) NOT NULL,
	[maPhieuXuat] [varchar](100) NULL,
	[maLo] [varchar](100) NULL,
	[soLuong] [int] NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaDiem]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaDiem](
	[maDiaDiem] [varchar](100) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[diaChi] [nvarchar](255) NOT NULL,
	[soDienThoai] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[moTa] [nvarchar](max) NULL,
	[gioMoCua] [nvarchar](100) NULL,
	[sucChua] [int] NULL,
	[loaiDiaDiem] [nvarchar](20) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDiaDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[maDichVu] [varchar](100) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](max) NULL,
	[gia] [decimal](10, 2) NULL,
	[maLoaiDichVu] [varchar](100) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVuVaccine]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVuVaccine](
	[maDichVuVaccine] [varchar](100) NOT NULL,
	[maDichVu] [varchar](100) NOT NULL,
	[maVaccine] [varchar](100) NOT NULL,
	[soMuiChuan] [int] NOT NULL,
	[ghiChu] [nvarchar](max) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDichVuVaccine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[maDonHang] [varchar](100) NOT NULL,
	[maNguoiDung] [varchar](100) NOT NULL,
	[maDiaDiemYeuThich] [varchar](100) NULL,
	[ngayDat] [datetime] NULL,
	[tongTienGoc] [decimal](12, 2) NOT NULL,
	[tongTienThanhToan] [decimal](12, 2) NOT NULL,
	[trangThaiDon] [nvarchar](30) NULL,
	[ghiChu] [nvarchar](max) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangChiTiet]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangChiTiet](
	[maDonHangChiTiet] [varchar](100) NOT NULL,
	[maDonHang] [varchar](100) NOT NULL,
	[maVaccine] [varchar](100) NOT NULL,
	[soMuiChuan] [int] NOT NULL,
	[donGiaMui] [decimal](12, 2) NULL,
	[thanhTien] [decimal](12, 2) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDonHangChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangKhuyenMai]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangKhuyenMai](
	[maDonHangKhuyenMai] [varchar](100) NOT NULL,
	[maDonHang] [varchar](100) NOT NULL,
	[maKhuyenMai] [varchar](100) NOT NULL,
	[giamGiaGoc] [decimal](12, 2) NULL,
	[giamGiaThucTe] [decimal](12, 2) NULL,
	[ngayApDung] [datetime] NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDonHangKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[maKhuyenMai] [varchar](100) NOT NULL,
	[maLoaiKhuyenMai] [varchar](100) NULL,
	[tenKhuyenMai] [nvarchar](255) NULL,
	[loaiGiam] [nvarchar](20) NULL,
	[giaTriGiam] [decimal](12, 2) NULL,
	[giamToiDa] [decimal](12, 2) NULL,
	[dieuKienToiThieu] [decimal](12, 2) NULL,
	[ngayBatDau] [date] NULL,
	[ngayKetThuc] [date] NULL,
	[soLuotDung] [int] NULL,
	[soLuotDaDung] [int] NULL,
	[trangThai] [nvarchar](20) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichHen]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichHen](
	[maLichHen] [varchar](100) NOT NULL,
	[maDonHang] [varchar](100) NOT NULL,
	[maLichLamViec] [varchar](100) NOT NULL,
	[maVaccine] [varchar](100) NOT NULL,
	[muiThu] [int] NOT NULL,
	[ngayHen] [datetime] NOT NULL,
	[trangThai] [nvarchar](20) NULL,
	[ghiChu] [nvarchar](max) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maLichHen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichLamViec]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichLamViec](
	[maLichLamViec] [varchar](100) NOT NULL,
	[maBacSi] [varchar](100) NOT NULL,
	[maDiaDiem] [varchar](100) NOT NULL,
	[ngayLam] [date] NOT NULL,
	[gioBatDau] [time](7) NOT NULL,
	[gioKetThuc] [time](7) NOT NULL,
	[soLuongCho] [int] NOT NULL,
	[daDat] [int] NULL,
	[trangThai] [nvarchar](20) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maLichLamViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichTiemChuan]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichTiemChuan](
	[maLichTiemChuan] [varchar](100) NOT NULL,
	[maVaccine] [varchar](100) NOT NULL,
	[muiThu] [int] NOT NULL,
	[tuoiThangToiThieu] [int] NULL,
	[tuoiThangToiDa] [int] NULL,
	[soNgaySauMuiTruoc] [int] NULL,
	[ghiChu] [nvarchar](max) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maLichTiemChuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDichVu]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDichVu](
	[maLoaiDichVu] [varchar](100) NOT NULL,
	[tenLoai] [nvarchar](100) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maLoaiDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiKhuyenMai]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiKhuyenMai](
	[maLoaiKhuyenMai] [varchar](100) NOT NULL,
	[tenLoai] [nvarchar](100) NULL,
	[moTa] [nvarchar](255) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maLoaiKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoVaccine]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoVaccine](
	[maLo] [varchar](100) NOT NULL,
	[maVaccine] [varchar](100) NOT NULL,
	[maNhaCungCap] [varchar](100) NOT NULL,
	[soLo] [nvarchar](50) NULL,
	[ngaySanXuat] [date] NULL,
	[ngayHetHan] [date] NULL,
	[soLuongNhap] [int] NULL,
	[soLuongHienTai] [int] NULL,
	[giaNhap] [decimal](12, 2) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maLo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[maNguoiDung] [varchar](100) NOT NULL,
	[maVaiTro] [varchar](100) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[matKhau] [nvarchar](100) NOT NULL,
	[soDienThoai] [nvarchar](20) NULL,
	[ngaySinh] [date] NULL,
	[diaChi] [nvarchar](200) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
	[maAnh] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDungQuyen]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDungQuyen](
	[maNguoiDung] [varchar](100) NOT NULL,
	[maQuyen] [varchar](100) NOT NULL,
	[ngayTao] [datetime] NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maNguoiDung] ASC,
	[maQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguonAnh]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguonAnh](
	[maAnh] [varchar](100) NOT NULL,
	[maNhan] [varchar](100) NULL,
	[urlAnh] [nvarchar](255) NOT NULL,
	[altText] [nvarchar](100) NULL,
	[nguoiTai] [varchar](100) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[maNhaCungCap] [varchar](100) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[nguoiLienHe] [nvarchar](100) NULL,
	[soDienThoai] [nvarchar](20) NULL,
	[diaChi] [nvarchar](200) NULL,
	[maAnh] [varchar](100) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanAnh]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanAnh](
	[maNhan] [varchar](100) NOT NULL,
	[tenNhan] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](255) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhienDangNhap]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhienDangNhap](
	[maPhien] [varchar](100) NOT NULL,
	[accessToken] [nvarchar](2000) NOT NULL,
	[refreshToken] [nvarchar](2000) NOT NULL,
	[thoiHan] [datetime] NOT NULL,
	[thoiHanRefresh] [datetime] NOT NULL,
	[maNguoiDung] [varchar](100) NOT NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[maPhieuNhap] [varchar](100) NOT NULL,
	[maNhaCungCap] [varchar](100) NULL,
	[ngayNhap] [datetime] NULL,
	[tongTien] [decimal](12, 2) NULL,
	[trangThai] [nvarchar](20) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThanhLy]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThanhLy](
	[maPhieuThanhLy] [varchar](100) NOT NULL,
	[maDiaDiem] [varchar](100) NULL,
	[ngayThanhLy] [datetime] NULL,
	[trangThai] [nvarchar](20) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieuThanhLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuTiem]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuTiem](
	[maPhieuTiem] [varchar](100) NOT NULL,
	[maLichHen] [varchar](100) NOT NULL,
	[maVaccine] [varchar](100) NOT NULL,
	[maLo] [varchar](100) NOT NULL,
	[muiThuThucTe] [int] NULL,
	[ngayTiem] [datetime] NULL,
	[maBacSi] [varchar](100) NULL,
	[phanUng] [nvarchar](20) NULL,
	[moTaPhanUng] [nvarchar](max) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieuTiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuat]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuat](
	[maPhieuXuat] [varchar](100) NOT NULL,
	[maDiaDiemXuat] [varchar](100) NULL,
	[maDiaDiemNhap] [varchar](100) NULL,
	[ngayXuat] [datetime] NULL,
	[loaiXuat] [nvarchar](20) NULL,
	[trangThai] [nvarchar](20) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieuXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanLy]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLy](
	[maQuanLy] [varchar](100) NOT NULL,
	[maNguoiDung] [varchar](100) NOT NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maQuanLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[maQuyen] [varchar](100) NOT NULL,
	[tenQuyen] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](255) NULL,
	[module] [nvarchar](50) NOT NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinNguoiDung]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinNguoiDung](
	[maThongTin] [varchar](100) NOT NULL,
	[maNguoiDung] [varchar](100) NOT NULL,
	[chieuCao] [decimal](5, 2) NULL,
	[canNang] [decimal](5, 2) NULL,
	[bmi] [decimal](5, 2) NULL,
	[nhomMau] [nvarchar](10) NULL,
	[benhNen] [nvarchar](max) NULL,
	[diUng] [nvarchar](max) NULL,
	[thuocDangDung] [nvarchar](max) NULL,
	[tinhTrangMangThai] [bit] NULL,
	[ngayKhamGanNhat] [date] NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maThongTin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TonKhoLo]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonKhoLo](
	[maTonKho] [varchar](100) NOT NULL,
	[maDiaDiem] [varchar](100) NULL,
	[maLo] [varchar](100) NULL,
	[soLuong] [int] NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maTonKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccine]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccine](
	[maVaccine] [varchar](100) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[nhaSanXuat] [nvarchar](100) NULL,
	[tuoiBatDauTiem] [int] NULL,
	[tuoiKetThucTiem] [int] NULL,
	[huongDanSuDung] [nvarchar](max) NULL,
	[phongNgua] [nvarchar](max) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maVaccine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[maVaiTro] [varchar](100) NOT NULL,
	[tenVaiTro] [nvarchar](50) NOT NULL,
	[moTa] [nvarchar](255) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTroQuyen]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTroQuyen](
	[maVaiTro] [varchar](100) NOT NULL,
	[maQuyen] [varchar](100) NOT NULL,
	[ngayTao] [datetime] NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maVaiTro] ASC,
	[maQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuCauDoiLich]    Script Date: 8/20/2025 10:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuCauDoiLich](
	[maYeuCau] [varchar](100) NOT NULL,
	[maLichHen] [varchar](100) NOT NULL,
	[ngayHenMoi] [datetime] NOT NULL,
	[lyDo] [nvarchar](max) NULL,
	[trangThai] [nvarchar](20) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maYeuCau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[NguoiDung] ([maNguoiDung], [maVaiTro], [ten], [email], [matKhau], [soDienThoai], [ngaySinh], [diaChi], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [maAnh]) VALUES (N'6141a739-e0cd-4118-8720-370ca9260d48', N'VT001', N'Nguyễn Văn A', N'admin@example.com', N'$2a$11$l1Qy2kWkzKzjKE9hcY/NVOWmvJI03P9JQslh7d3Ij89Ght/dHmsHe', N'0123456789', CAST(N'2025-08-13' AS Date), N'', 0, 1, CAST(N'2025-08-13T08:56:12.050' AS DateTime), NULL, NULL)
INSERT [dbo].[NguoiDung] ([maNguoiDung], [maVaiTro], [ten], [email], [matKhau], [soDienThoai], [ngaySinh], [diaChi], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [maAnh]) VALUES (N'73fedf0b-91ca-4c55-b7ca-71b7a0ecc7c7', N'VT001', N'Nguyễn Văn A', N'admin1@example.com', N'$2a$11$aAuRU6SDPveuFy.R8FDGUeWx0kdOtuvlU8gxxtJpsdk7/K1LLg1/e', N'0123456759', CAST(N'2025-08-13' AS Date), N'', 0, 1, CAST(N'2025-08-13T10:28:31.063' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[NguonAnh] ([maAnh], [maNhan], [urlAnh], [altText], [nguoiTai], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'04efcaa5e7e94285b751bda54fd4a170', N'572236fecc394e6394acabf3a358ce73', N'/media/04efcaa5e7e94285b751bda54fd4a170.jpg', N'ảnh địa điểm ', NULL, 0, 1, CAST(N'2025-08-14T04:18:08.287' AS DateTime), NULL)
INSERT [dbo].[NguonAnh] ([maAnh], [maNhan], [urlAnh], [altText], [nguoiTai], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'1e780e424c3b4a1892cda35ce3c19766', N'4c789eaa2a3a441baf00ecba5024f9b6', N'/media/1e780e424c3b4a1892cda35ce3c19766.jpg', N'ảnh của bác sĩ trưởng khoa ', NULL, 0, 1, CAST(N'2025-08-14T03:44:00.370' AS DateTime), CAST(N'2025-08-14T03:54:57.607' AS DateTime))
INSERT [dbo].[NguonAnh] ([maAnh], [maNhan], [urlAnh], [altText], [nguoiTai], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'45993bbad9a9440ba0c25def6478bb5a', N'4c789eaa2a3a441baf00ecba5024f9b6', N'/media/45993bbad9a9440ba0c25def6478bb5a.jpg', N'ảnh của bác sĩ ', NULL, 0, 1, CAST(N'2025-08-14T03:44:00.560' AS DateTime), NULL)
GO
INSERT [dbo].[NhanAnh] ([maNhan], [tenNhan], [moTa], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'4c789eaa2a3a441baf00ecba5024f9b6', N'Bác sĩ', N'Ảnh của bác sĩ', 0, 1, CAST(N'2025-08-13T11:48:07.520' AS DateTime), NULL)
INSERT [dbo].[NhanAnh] ([maNhan], [tenNhan], [moTa], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'572236fecc394e6394acabf3a358ce73', N'Địa điểm', N'Ảnh của địa điểm tiêm chủng mới', 0, 1, CAST(N'2025-08-13T11:30:23.670' AS DateTime), CAST(N'2025-08-14T03:37:51.673' AS DateTime))
INSERT [dbo].[NhanAnh] ([maNhan], [tenNhan], [moTa], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'60636f2f74aa4c1288005cc147be782f', N'Quản lý', N'Ảnh của quản lý', 0, 1, CAST(N'2025-08-14T03:33:44.537' AS DateTime), NULL)
GO
INSERT [dbo].[Quyen] ([maQuyen], [tenQuyen], [moTa], [module], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'AnhDiaDiem_CREATE', N'Thêm ảnh địa điểm', NULL, N'AnhDiaDiem', NULL, 1, NULL, NULL)
INSERT [dbo].[Quyen] ([maQuyen], [tenQuyen], [moTa], [module], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'AnhDiaDiem_DELETE', N'Xóa ảnh địa điểm', NULL, N'AnhDiaDiem', NULL, 1, NULL, NULL)
INSERT [dbo].[Quyen] ([maQuyen], [tenQuyen], [moTa], [module], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'AnhDiaDiem_READ', N'Xem ảnh địa điểm', NULL, N'AnhDiaDiem', NULL, 1, NULL, NULL)
GO
INSERT [dbo].[VaiTro] ([maVaiTro], [tenVaiTro], [moTa], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'VT001', N'USER', N'Ngu?i dùng', 0, NULL, NULL, NULL)
INSERT [dbo].[VaiTro] ([maVaiTro], [tenVaiTro], [moTa], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'VT002', N'DOCTER', N'Bác si', 0, NULL, NULL, NULL)
INSERT [dbo].[VaiTro] ([maVaiTro], [tenVaiTro], [moTa], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'VT003', N'MANAGER', N'Qu?n lý', 0, NULL, NULL, NULL)
GO
INSERT [dbo].[VaiTroQuyen] ([maVaiTro], [maQuyen], [ngayTao], [isDelete], [isActive], [ngayCapNhat]) VALUES (N'VT003', N'AnhDiaDiem_CREATE', NULL, NULL, NULL, NULL)
INSERT [dbo].[VaiTroQuyen] ([maVaiTro], [maQuyen], [ngayTao], [isDelete], [isActive], [ngayCapNhat]) VALUES (N'VT003', N'AnhDiaDiem_DELETE', NULL, NULL, NULL, NULL)
INSERT [dbo].[VaiTroQuyen] ([maVaiTro], [maQuyen], [ngayTao], [isDelete], [isActive], [ngayCapNhat]) VALUES (N'VT003', N'AnhDiaDiem_READ', NULL, NULL, NULL, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BacSi__446439EBDE1365ED]    Script Date: 8/20/2025 10:13:43 PM ******/
ALTER TABLE [dbo].[BacSi] ADD UNIQUE NONCLUSTERED 
(
	[maNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__QuanLy__446439EB297BE629]    Script Date: 8/20/2025 10:13:43 PM ******/
ALTER TABLE [dbo].[QuanLy] ADD UNIQUE NONCLUSTERED 
(
	[maNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((0)) FOR [soLuotDaDung]
GO
ALTER TABLE [dbo].[LichLamViec] ADD  DEFAULT ((0)) FOR [daDat]
GO
ALTER TABLE [dbo].[AnhDiaDiem]  WITH CHECK ADD FOREIGN KEY([maAnh])
REFERENCES [dbo].[NguonAnh] ([maAnh])
GO
ALTER TABLE [dbo].[AnhDiaDiem]  WITH CHECK ADD FOREIGN KEY([maDiaDiem])
REFERENCES [dbo].[DiaDiem] ([maDiaDiem])
GO
ALTER TABLE [dbo].[AnhDichVu]  WITH CHECK ADD FOREIGN KEY([maAnh])
REFERENCES [dbo].[NguonAnh] ([maAnh])
GO
ALTER TABLE [dbo].[AnhDichVu]  WITH CHECK ADD FOREIGN KEY([maDichVu])
REFERENCES [dbo].[DichVu] ([maDichVu])
GO
ALTER TABLE [dbo].[AnhNhaCungCap]  WITH CHECK ADD FOREIGN KEY([maAnh])
REFERENCES [dbo].[NguonAnh] ([maAnh])
GO
ALTER TABLE [dbo].[AnhNhaCungCap]  WITH CHECK ADD FOREIGN KEY([maNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([maNhaCungCap])
GO
ALTER TABLE [dbo].[AnhVaccine]  WITH CHECK ADD FOREIGN KEY([maAnh])
REFERENCES [dbo].[NguonAnh] ([maAnh])
GO
ALTER TABLE [dbo].[AnhVaccine]  WITH CHECK ADD FOREIGN KEY([maVaccine])
REFERENCES [dbo].[Vaccine] ([maVaccine])
GO
ALTER TABLE [dbo].[BacSi]  WITH CHECK ADD FOREIGN KEY([maNguoiDung])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[ChiTietNhap]  WITH CHECK ADD FOREIGN KEY([maPhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([maPhieuNhap])
GO
ALTER TABLE [dbo].[ChiTietNhap]  WITH CHECK ADD FOREIGN KEY([maLo])
REFERENCES [dbo].[LoVaccine] ([maLo])
GO
ALTER TABLE [dbo].[ChiTietThanhLy]  WITH CHECK ADD FOREIGN KEY([maPhieuThanhLy])
REFERENCES [dbo].[PhieuThanhLy] ([maPhieuThanhLy])
GO
ALTER TABLE [dbo].[ChiTietThanhLy]  WITH CHECK ADD FOREIGN KEY([maLo])
REFERENCES [dbo].[LoVaccine] ([maLo])
GO
ALTER TABLE [dbo].[ChiTietXuat]  WITH CHECK ADD FOREIGN KEY([maPhieuXuat])
REFERENCES [dbo].[PhieuXuat] ([maPhieuXuat])
GO
ALTER TABLE [dbo].[ChiTietXuat]  WITH CHECK ADD FOREIGN KEY([maLo])
REFERENCES [dbo].[LoVaccine] ([maLo])
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD FOREIGN KEY([maLoaiDichVu])
REFERENCES [dbo].[LoaiDichVu] ([maLoaiDichVu])
GO
ALTER TABLE [dbo].[DichVuVaccine]  WITH CHECK ADD FOREIGN KEY([maDichVu])
REFERENCES [dbo].[DichVu] ([maDichVu])
GO
ALTER TABLE [dbo].[DichVuVaccine]  WITH CHECK ADD FOREIGN KEY([maVaccine])
REFERENCES [dbo].[Vaccine] ([maVaccine])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([maDiaDiemYeuThich])
REFERENCES [dbo].[DiaDiem] ([maDiaDiem])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([maNguoiDung])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD FOREIGN KEY([maDonHang])
REFERENCES [dbo].[DonHang] ([maDonHang])
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD FOREIGN KEY([maVaccine])
REFERENCES [dbo].[Vaccine] ([maVaccine])
GO
ALTER TABLE [dbo].[DonHangKhuyenMai]  WITH CHECK ADD FOREIGN KEY([maDonHang])
REFERENCES [dbo].[DonHang] ([maDonHang])
GO
ALTER TABLE [dbo].[DonHangKhuyenMai]  WITH CHECK ADD FOREIGN KEY([maKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([maKhuyenMai])
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD FOREIGN KEY([maLoaiKhuyenMai])
REFERENCES [dbo].[LoaiKhuyenMai] ([maLoaiKhuyenMai])
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD FOREIGN KEY([maDonHang])
REFERENCES [dbo].[DonHang] ([maDonHang])
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD FOREIGN KEY([maLichLamViec])
REFERENCES [dbo].[LichLamViec] ([maLichLamViec])
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD FOREIGN KEY([maVaccine])
REFERENCES [dbo].[Vaccine] ([maVaccine])
GO
ALTER TABLE [dbo].[LichLamViec]  WITH CHECK ADD FOREIGN KEY([maBacSi])
REFERENCES [dbo].[BacSi] ([maBacSi])
GO
ALTER TABLE [dbo].[LichLamViec]  WITH CHECK ADD FOREIGN KEY([maDiaDiem])
REFERENCES [dbo].[DiaDiem] ([maDiaDiem])
GO
ALTER TABLE [dbo].[LichTiemChuan]  WITH CHECK ADD FOREIGN KEY([maVaccine])
REFERENCES [dbo].[Vaccine] ([maVaccine])
GO
ALTER TABLE [dbo].[LoVaccine]  WITH CHECK ADD FOREIGN KEY([maNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([maNhaCungCap])
GO
ALTER TABLE [dbo].[LoVaccine]  WITH CHECK ADD FOREIGN KEY([maVaccine])
REFERENCES [dbo].[Vaccine] ([maVaccine])
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD FOREIGN KEY([maVaiTro])
REFERENCES [dbo].[VaiTro] ([maVaiTro])
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD FOREIGN KEY([maAnh])
REFERENCES [dbo].[NguonAnh] ([maAnh])
GO
ALTER TABLE [dbo].[NguoiDungQuyen]  WITH CHECK ADD FOREIGN KEY([maNguoiDung])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[NguoiDungQuyen]  WITH CHECK ADD FOREIGN KEY([maQuyen])
REFERENCES [dbo].[Quyen] ([maQuyen])
GO
ALTER TABLE [dbo].[NguonAnh]  WITH CHECK ADD FOREIGN KEY([maNhan])
REFERENCES [dbo].[NhanAnh] ([maNhan])
GO
ALTER TABLE [dbo].[NhaCungCap]  WITH CHECK ADD FOREIGN KEY([maAnh])
REFERENCES [dbo].[NguonAnh] ([maAnh])
GO
ALTER TABLE [dbo].[PhienDangNhap]  WITH CHECK ADD FOREIGN KEY([maNguoiDung])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([maNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([maNhaCungCap])
GO
ALTER TABLE [dbo].[PhieuThanhLy]  WITH CHECK ADD FOREIGN KEY([maDiaDiem])
REFERENCES [dbo].[DiaDiem] ([maDiaDiem])
GO
ALTER TABLE [dbo].[PhieuTiem]  WITH CHECK ADD FOREIGN KEY([maBacSi])
REFERENCES [dbo].[BacSi] ([maBacSi])
GO
ALTER TABLE [dbo].[PhieuTiem]  WITH CHECK ADD FOREIGN KEY([maLichHen])
REFERENCES [dbo].[LichHen] ([maLichHen])
GO
ALTER TABLE [dbo].[PhieuTiem]  WITH CHECK ADD FOREIGN KEY([maLo])
REFERENCES [dbo].[LoVaccine] ([maLo])
GO
ALTER TABLE [dbo].[PhieuTiem]  WITH CHECK ADD FOREIGN KEY([maVaccine])
REFERENCES [dbo].[Vaccine] ([maVaccine])
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD FOREIGN KEY([maDiaDiemXuat])
REFERENCES [dbo].[DiaDiem] ([maDiaDiem])
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD FOREIGN KEY([maDiaDiemNhap])
REFERENCES [dbo].[DiaDiem] ([maDiaDiem])
GO
ALTER TABLE [dbo].[QuanLy]  WITH CHECK ADD FOREIGN KEY([maNguoiDung])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[ThongTinNguoiDung]  WITH CHECK ADD FOREIGN KEY([maNguoiDung])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[TonKhoLo]  WITH CHECK ADD FOREIGN KEY([maDiaDiem])
REFERENCES [dbo].[DiaDiem] ([maDiaDiem])
GO
ALTER TABLE [dbo].[TonKhoLo]  WITH CHECK ADD FOREIGN KEY([maLo])
REFERENCES [dbo].[LoVaccine] ([maLo])
GO
ALTER TABLE [dbo].[VaiTroQuyen]  WITH CHECK ADD FOREIGN KEY([maQuyen])
REFERENCES [dbo].[Quyen] ([maQuyen])
GO
ALTER TABLE [dbo].[VaiTroQuyen]  WITH CHECK ADD FOREIGN KEY([maVaiTro])
REFERENCES [dbo].[VaiTro] ([maVaiTro])
GO
ALTER TABLE [dbo].[YeuCauDoiLich]  WITH CHECK ADD FOREIGN KEY([maLichHen])
REFERENCES [dbo].[LichHen] ([maLichHen])
GO
