USE [HeThongQuanLyTiemChung]
GO
/****** Object:  Table [dbo].[AnhDiaDiem]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhDiaDiem](
	[maAnhDiaDiem] [varchar](100) NOT NULL,
	[maDiaDiem] [varchar](100) NOT NULL,
	[maAnh] [varchar](100) NOT NULL,
	[laAnhChinh] [bit] NULL,
	[thuTuHienThi] [int] NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maAnhDiaDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnhDichVu]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhDichVu](
	[maAnhDichVu] [varchar](100) NOT NULL,
	[maAnh] [varchar](100) NULL,
	[maDichVu] [varchar](100) NULL,
	[laAnhChinh] [bit] NULL,
	[thuTuHienThi] [int] NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maAnhDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnhNhaCungCap]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhNhaCungCap](
	[maAnhNhaCungCap] [varchar](100) NOT NULL,
	[maNhaCungCap] [varchar](100) NOT NULL,
	[maAnh] [varchar](100) NOT NULL,
	[thuTuHienThi] [int] NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maAnhNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnhVaccine]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhVaccine](
	[maAnhVaccine] [varchar](100) NOT NULL,
	[maVaccine] [varchar](100) NOT NULL,
	[maAnh] [varchar](100) NOT NULL,
	[thuTuHienThi] [int] NULL,
	[laAnhChinh] [bit] NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maAnhVaccine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BacSi]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BacSi](
	[maBacSi] [varchar](100) NOT NULL,
	[maNguoiDung] [varchar](100) NOT NULL,
	[chuyenMon] [nvarchar](100) NULL,
	[soGiayPhep] [nvarchar](50) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
	[maDiaDiem] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maBacSi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietNhap]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhap](
	[maChiTiet] [varchar](100) NOT NULL,
	[maPhieuNhap] [varchar](100) NULL,
	[maLo] [varchar](100) NULL,
	[soLuong] [int] NULL,
	[gia] [decimal](12, 2) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuTiem]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuTiem](
	[maChiTietPhieuTiem] [varchar](100) NOT NULL,
	[maPhieuTiem] [varchar](100) NOT NULL,
	[maVaccine] [varchar](100) NOT NULL,
	[muiTiemThucTe] [int] NOT NULL,
	[thuTu] [int] NOT NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
 CONSTRAINT [PK__ChiTietP__NewKey] PRIMARY KEY CLUSTERED 
(
	[maChiTietPhieuTiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietThanhLy]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietThanhLy](
	[maChiTiet] [varchar](100) NOT NULL,
	[maPhieuThanhLy] [varchar](100) NULL,
	[maLo] [varchar](100) NULL,
	[soLuong] [int] NULL,
	[lyDo] [nvarchar](255) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietXuat]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietXuat](
	[maChiTiet] [varchar](100) NOT NULL,
	[maPhieuXuat] [varchar](100) NULL,
	[maLo] [varchar](100) NULL,
	[soLuong] [int] NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaDiem]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaDiem](
	[maDiaDiem] [varchar](100) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[diaChi] [nvarchar](255) NOT NULL,
	[soDienThoai] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[moTa] [nvarchar](max) NULL,
	[gioMoCua] [nvarchar](100) NULL,
	[sucChua] [int] NULL,
	[loaiDiaDiem] [nvarchar](20) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDiaDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[maDichVu] [varchar](100) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](max) NULL,
	[gia] [decimal](10, 2) NULL,
	[maLoaiDichVu] [varchar](100) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVuVaccine]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVuVaccine](
	[maDichVuVaccine] [varchar](100) NOT NULL,
	[maDichVu] [varchar](100) NOT NULL,
	[maVaccine] [varchar](100) NOT NULL,
	[soMuiChuan] [int] NOT NULL,
	[ghiChu] [nvarchar](max) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
	[thuTu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDichVuVaccine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DieuKienDichVu]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DieuKienDichVu](
	[maDieuKien] [varchar](100) NOT NULL,
	[maDichVu] [varchar](100) NOT NULL,
	[tuoiThangToiThieu] [int] NULL,
	[tuoiThangToiDa] [int] NULL,
	[gioiTinh] [varchar](10) NULL,
	[ghiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDieuKien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[maDonHang] [varchar](100) NOT NULL,
	[maNguoiDung] [varchar](100) NOT NULL,
	[maDiaDiemYeuThich] [varchar](100) NULL,
	[ngayDat] [datetime] NULL,
	[tongTienGoc] [decimal](12, 2) NOT NULL,
	[tongTienThanhToan] [decimal](12, 2) NOT NULL,
	[trangThaiDon] [nvarchar](30) NULL,
	[ghiChu] [nvarchar](max) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangChiTiet]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangChiTiet](
	[maDonHangChiTiet] [varchar](100) NOT NULL,
	[maDonHang] [varchar](100) NOT NULL,
	[soMuiChuan] [int] NOT NULL,
	[donGiaMui] [decimal](12, 2) NULL,
	[thanhTien] [decimal](12, 2) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayCapNhat] [datetime] NULL,
	[maDichVu] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDonHangChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangKhuyenMai]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangKhuyenMai](
	[maDonHangKhuyenMai] [varchar](100) NOT NULL,
	[maDonHang] [varchar](100) NOT NULL,
	[maKhuyenMai] [varchar](100) NOT NULL,
	[giamGiaGoc] [decimal](12, 2) NULL,
	[giamGiaThucTe] [decimal](12, 2) NULL,
	[ngayApDung] [datetime] NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDonHangKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KeHoachTiem]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeHoachTiem](
	[maKeHoachTiem] [varchar](100) NOT NULL,
	[maNguoiDung] [varchar](100) NOT NULL,
	[maDichVu] [varchar](100) NOT NULL,
	[maDonHang] [varchar](100) NOT NULL,
	[maVaccine] [varchar](100) NOT NULL,
	[muiThu] [int] NOT NULL,
	[ngayDuKien] [date] NULL,
	[trangThai] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maKeHoachTiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[maKhuyenMai] [varchar](100) NOT NULL,
	[maLoaiKhuyenMai] [varchar](100) NULL,
	[tenKhuyenMai] [nvarchar](255) NULL,
	[loaiGiam] [nvarchar](20) NULL,
	[giaTriGiam] [decimal](12, 2) NULL,
	[giamToiDa] [decimal](12, 2) NULL,
	[dieuKienToiThieu] [decimal](12, 2) NULL,
	[ngayBatDau] [date] NULL,
	[ngayKetThuc] [date] NULL,
	[soLuotDung] [int] NULL,
	[soLuotDaDung] [int] NULL,
	[trangThai] [nvarchar](20) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
	[Code] [varchar](100) NULL,
	[GiaTriToiThieu] [decimal](20, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[maKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichHen]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichHen](
	[maLichHen] [varchar](100) NOT NULL,
	[maDonHang] [varchar](100) NOT NULL,
	[ngayHen] [datetime] NOT NULL,
	[trangThai] [nvarchar](20) NULL,
	[ghiChu] [nvarchar](max) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
	[maDiaDiem] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maLichHen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichLamViec]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichLamViec](
	[maLichLamViec] [varchar](100) NOT NULL,
	[maBacSi] [varchar](100) NOT NULL,
	[maDiaDiem] [varchar](100) NOT NULL,
	[ngayLam] [date] NOT NULL,
	[gioBatDau] [time](7) NOT NULL,
	[gioKetThuc] [time](7) NOT NULL,
	[soLuongCho] [int] NOT NULL,
	[daDat] [int] NULL,
	[trangThai] [nvarchar](20) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maLichLamViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichTiemChuan]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichTiemChuan](
	[maLichTiemChuan] [varchar](100) NOT NULL,
	[maVaccine] [varchar](100) NOT NULL,
	[muiThu] [int] NOT NULL,
	[tuoiThangToiThieu] [int] NULL,
	[tuoiThangToiDa] [int] NULL,
	[soNgaySauMuiTruoc] [int] NULL,
	[ghiChu] [nvarchar](max) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maLichTiemChuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDichVu]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDichVu](
	[maLoaiDichVu] [varchar](100) NOT NULL,
	[tenLoai] [nvarchar](100) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maLoaiDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiKhuyenMai]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiKhuyenMai](
	[maLoaiKhuyenMai] [varchar](100) NOT NULL,
	[tenLoai] [nvarchar](100) NULL,
	[moTa] [nvarchar](255) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maLoaiKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoVaccine]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoVaccine](
	[maLo] [varchar](100) NOT NULL,
	[maVaccine] [varchar](100) NOT NULL,
	[maNhaCungCap] [varchar](100) NOT NULL,
	[soLo] [nvarchar](50) NULL,
	[ngaySanXuat] [date] NULL,
	[ngayHetHan] [date] NULL,
	[soLuongNhap] [int] NULL,
	[soLuongHienTai] [int] NULL,
	[giaNhap] [decimal](12, 2) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maLo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[maNguoiDung] [varchar](100) NOT NULL,
	[maVaiTro] [varchar](100) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[matKhau] [nvarchar](100) NOT NULL,
	[soDienThoai] [nvarchar](20) NULL,
	[ngaySinh] [date] NULL,
	[diaChi] [nvarchar](200) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
	[maAnh] [varchar](100) NULL,
	[gioiTinh] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDungQuyen]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDungQuyen](
	[maNguoiDung] [varchar](100) NOT NULL,
	[maQuyen] [varchar](100) NOT NULL,
	[ngayTao] [datetime] NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maNguoiDung] ASC,
	[maQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguonAnh]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguonAnh](
	[maAnh] [varchar](100) NOT NULL,
	[maNhan] [varchar](100) NULL,
	[urlAnh] [nvarchar](255) NOT NULL,
	[altText] [nvarchar](100) NULL,
	[nguoiTai] [varchar](100) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[maNhaCungCap] [varchar](100) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[nguoiLienHe] [nvarchar](100) NULL,
	[soDienThoai] [nvarchar](20) NULL,
	[diaChi] [nvarchar](200) NULL,
	[maAnh] [varchar](100) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanAnh]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanAnh](
	[maNhan] [varchar](100) NOT NULL,
	[tenNhan] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](255) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [varchar](100) NOT NULL,
	[maNguoiDung] [varchar](100) NULL,
	[chucVu] [nvarchar](200) NULL,
	[maDiaDiem] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhienDangNhap]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhienDangNhap](
	[maPhien] [varchar](100) NOT NULL,
	[accessToken] [nvarchar](max) NULL,
	[refreshToken] [nvarchar](2000) NOT NULL,
	[thoiHan] [datetime] NOT NULL,
	[thoiHanRefresh] [datetime] NOT NULL,
	[maNguoiDung] [varchar](100) NOT NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDangKyLichTiem]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDangKyLichTiem](
	[maPhieuDangKy] [varchar](100) NOT NULL,
	[maKhachHang] [varchar](100) NOT NULL,
	[ngayDangKy] [datetime] NOT NULL,
	[trangThai] [varchar](20) NOT NULL,
	[lyDoTuChoi] [nvarchar](500) NULL,
	[ghiChu] [nvarchar](500) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
	[maDiaDiem] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieuDangKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[maPhieuNhap] [varchar](100) NOT NULL,
	[maNhaCungCap] [varchar](100) NULL,
	[ngayNhap] [datetime] NULL,
	[tongTien] [decimal](12, 2) NULL,
	[trangThai] [nvarchar](20) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
	[maQuanLy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThanhLy]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThanhLy](
	[maPhieuThanhLy] [varchar](100) NOT NULL,
	[maDiaDiem] [varchar](100) NULL,
	[ngayThanhLy] [datetime] NULL,
	[trangThai] [nvarchar](20) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieuThanhLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuTiem]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuTiem](
	[maPhieuTiem] [varchar](100) NOT NULL,
	[ngayTiem] [datetime] NULL,
	[maBacSi] [varchar](100) NULL,
	[phanUng] [nvarchar](20) NULL,
	[moTaPhanUng] [nvarchar](max) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
	[maDichVu] [varchar](100) NULL,
	[trangThai] [nvarchar](20) NULL,
	[maNguoiDung] [varchar](100) NULL,
	[maKeHoachTiem] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieuTiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuat]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuat](
	[maPhieuXuat] [varchar](100) NOT NULL,
	[maDiaDiemXuat] [varchar](100) NULL,
	[maDiaDiemNhap] [varchar](100) NULL,
	[ngayXuat] [datetime] NULL,
	[loaiXuat] [nvarchar](20) NULL,
	[trangThai] [nvarchar](20) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
	[maQuanLy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieuXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanLy]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLy](
	[maQuanLy] [varchar](100) NOT NULL,
	[maNguoiDung] [varchar](100) NOT NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maQuanLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[maQuyen] [varchar](100) NOT NULL,
	[tenQuyen] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](255) NULL,
	[module] [nvarchar](50) NOT NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinNguoiDung]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinNguoiDung](
	[maThongTin] [varchar](100) NOT NULL,
	[maNguoiDung] [varchar](100) NOT NULL,
	[chieuCao] [decimal](5, 2) NULL,
	[canNang] [decimal](5, 2) NULL,
	[bmi] [decimal](5, 2) NULL,
	[nhomMau] [nvarchar](10) NULL,
	[benhNen] [nvarchar](max) NULL,
	[diUng] [nvarchar](max) NULL,
	[thuocDangDung] [nvarchar](max) NULL,
	[tinhTrangMangThai] [bit] NULL,
	[ngayKhamGanNhat] [date] NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maThongTin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TonKhoLo]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonKhoLo](
	[maTonKho] [varchar](100) NOT NULL,
	[maDiaDiem] [varchar](100) NULL,
	[maLo] [varchar](100) NULL,
	[soLuong] [int] NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maTonKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccine]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccine](
	[maVaccine] [varchar](100) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[nhaSanXuat] [nvarchar](100) NULL,
	[tuoiBatDauTiem] [int] NULL,
	[tuoiKetThucTiem] [int] NULL,
	[huongDanSuDung] [nvarchar](max) NULL,
	[phongNgua] [nvarchar](max) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maVaccine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[maVaiTro] [varchar](100) NOT NULL,
	[tenVaiTro] [nvarchar](50) NOT NULL,
	[moTa] [nvarchar](255) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTroQuyen]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTroQuyen](
	[maVaiTro] [varchar](100) NOT NULL,
	[maQuyen] [varchar](100) NOT NULL,
	[ngayTao] [datetime] NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maVaiTro] ASC,
	[maQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuCauDoiLich]    Script Date: 9/9/2025 11:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuCauDoiLich](
	[maYeuCau] [varchar](100) NOT NULL,
	[maLichHen] [varchar](100) NOT NULL,
	[ngayHenMoi] [datetime] NOT NULL,
	[lyDo] [nvarchar](max) NULL,
	[trangThai] [nvarchar](20) NULL,
	[isDelete] [bit] NULL,
	[isActive] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maYeuCau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[BacSi] ([maBacSi], [maNguoiDung], [chuyenMon], [soGiayPhep], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [maDiaDiem]) VALUES (N'4cf08a1675264f209f4bb7203446b90e', N'8730035e63214326bfee1d877bcadc9b', N'Khoa nhi', N'XCWSDJS1', 0, 1, CAST(N'2025-08-28T02:02:22.747' AS DateTime), CAST(N'2025-09-08T20:24:15.763' AS DateTime), N'3c6ae74db3f7409db9065a140838578a')
INSERT [dbo].[BacSi] ([maBacSi], [maNguoiDung], [chuyenMon], [soGiayPhep], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [maDiaDiem]) VALUES (N'f53d478259b34085a8acd020af70eab3', N'ae1c41cd9bee4325ab571708d355a6c0', N'ád', N'ád', 0, 1, CAST(N'2025-09-08T20:56:39.990' AS DateTime), CAST(N'2025-09-08T20:56:39.990' AS DateTime), N'3c6ae74db3f7409db9065a140838578a')
INSERT [dbo].[BacSi] ([maBacSi], [maNguoiDung], [chuyenMon], [soGiayPhep], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [maDiaDiem]) VALUES (N'fd3aa504fe6549ac82f7e03b33bab7ed', N'7440c1fcd49241a9adbd6f5e91201982', N'Khoa nội', N'sd2', 0, 1, CAST(N'2025-08-26T10:07:59.107' AS DateTime), CAST(N'2025-08-28T02:54:32.507' AS DateTime), NULL)
GO
INSERT [dbo].[ChiTietNhap] ([maChiTiet], [maPhieuNhap], [maLo], [soLuong], [gia], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'11e6d651f467491491b959c9495008d1', N'df3e9ec93183421b98a28e0fb1bbdeb1', N'359486a070fd469087d9e1b3eb96f2de', 10, CAST(100000.00 AS Decimal(12, 2)), 0, 1, CAST(N'2025-09-06T16:14:14.973' AS DateTime), NULL)
INSERT [dbo].[ChiTietNhap] ([maChiTiet], [maPhieuNhap], [maLo], [soLuong], [gia], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'13ff85a93ec24e499c3724dfd675dac4', N'1df414cf095840759d66a399644c1304', N'a41e7a4001964cd2b3ed9e3d16846b44', 30, CAST(300000.00 AS Decimal(12, 2)), 0, 1, CAST(N'2025-09-06T09:44:06.210' AS DateTime), NULL)
INSERT [dbo].[ChiTietNhap] ([maChiTiet], [maPhieuNhap], [maLo], [soLuong], [gia], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'37c9b9c625de4237999bd4b7d3609372', N'94f35e4e0a8b44f69a24dde3d922179f', N'4a0bbf0fbf0d455d8ed2e1e0d0c3bac4', 2, CAST(3000000.00 AS Decimal(12, 2)), 0, 1, CAST(N'2025-09-06T10:01:03.263' AS DateTime), NULL)
GO
INSERT [dbo].[ChiTietPhieuTiem] ([maChiTietPhieuTiem], [maPhieuTiem], [maVaccine], [muiTiemThucTe], [thuTu], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'0e77db2037194db6bfb1c795bf5ec9f0', N'796124fdcdd64bd59d19542ce05d80dd', N'9c430d24-8ae1-448b-9173-0c8f2d8d7b02', 1, 1, 0, 1, CAST(N'2025-09-08T19:35:35.060' AS DateTime), CAST(N'2025-09-08T19:35:35.060' AS DateTime))
INSERT [dbo].[ChiTietPhieuTiem] ([maChiTietPhieuTiem], [maPhieuTiem], [maVaccine], [muiTiemThucTe], [thuTu], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'315d5b157a6749379b2a82d12a611d39', N'024139b5f1674805b0191cc49f3e88eb', N'9c430d24-8ae1-448b-9173-0c8f2d8d7b02', 2, 1, 0, 1, CAST(N'2025-09-08T19:39:38.523' AS DateTime), CAST(N'2025-09-08T19:39:38.523' AS DateTime))
INSERT [dbo].[ChiTietPhieuTiem] ([maChiTietPhieuTiem], [maPhieuTiem], [maVaccine], [muiTiemThucTe], [thuTu], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'33e36a7fa4784bca84f4b425d9da2a50', N'bf1093e3a0bb4ddda664d93254f99558', N'3b51d10c-e167-4f0d-8ef7-2eeb44f533a0', 1, 3, 0, 1, CAST(N'2025-09-08T20:09:33.263' AS DateTime), CAST(N'2025-09-08T20:09:33.263' AS DateTime))
GO
INSERT [dbo].[ChiTietThanhLy] ([maChiTiet], [maPhieuThanhLy], [maLo], [soLuong], [lyDo], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'5285dd938f94481f84b006b250ca0ef1', N'4d96d91c3b2d4a598f72ca1cfaf8b5c1', N'3adfbf0507614fe09460bb2a4c797589', 14, N'Hết hạn sử dụng', 0, 1, CAST(N'2025-09-06T16:19:51.053' AS DateTime), NULL)
INSERT [dbo].[ChiTietThanhLy] ([maChiTiet], [maPhieuThanhLy], [maLo], [soLuong], [lyDo], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'581c325e962c41978ed846b9adc829a9', N'6965dbeac79c4cff9a29424735cbdfba', N'3adfbf0507614fe09460bb2a4c797589', 1, N'Hết hạn sử dụng', 0, 1, CAST(N'2025-09-06T14:54:56.387' AS DateTime), NULL)
INSERT [dbo].[ChiTietThanhLy] ([maChiTiet], [maPhieuThanhLy], [maLo], [soLuong], [lyDo], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'8a142c7e08044f0882a7c592d1fb36c5', N'612fc11aa7e440d7ace2b3bd7b5b5dda', N'359486a070fd469087d9e1b3eb96f2de', 1, N'Hết hạn sử dụng', 0, 1, CAST(N'2025-09-06T16:20:59.103' AS DateTime), NULL)
GO
INSERT [dbo].[ChiTietXuat] ([maChiTiet], [maPhieuXuat], [maLo], [soLuong], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'0103e993cc3e4789bb80c9cd8a89e631', N'93f2cd6af39347d5b8c8d23ba8ed2326', N'9146581bb1c34fd48e290858bb2b8481', 2, 0, 1, CAST(N'2025-09-06T16:17:19.637' AS DateTime), NULL)
INSERT [dbo].[ChiTietXuat] ([maChiTiet], [maPhieuXuat], [maLo], [soLuong], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'304039d6fbc84d0cb3326ea4fb20381a', N'042aa151d48747299428b3f41a1c29fc', N'6ca257d404c343b8a4dded432dd60d03', 2, 1, 1, CAST(N'2025-09-06T09:22:59.887' AS DateTime), CAST(N'2025-09-06T11:18:10.397' AS DateTime))
INSERT [dbo].[ChiTietXuat] ([maChiTiet], [maPhieuXuat], [maLo], [soLuong], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'4a7b16551a0e459f95289a861880e441', N'93f2cd6af39347d5b8c8d23ba8ed2326', N'359486a070fd469087d9e1b3eb96f2de', 2, 0, 1, CAST(N'2025-09-06T16:17:19.650' AS DateTime), NULL)
GO
INSERT [dbo].[DiaDiem] ([maDiaDiem], [ten], [diaChi], [soDienThoai], [email], [moTa], [gioMoCua], [sucChua], [loaiDiaDiem], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'3c6ae74db3f7409db9065a140838578a', N'Địa điểm tiêm chủng VNVC', N'123 nguyễn văn a', N'123456789', N'kait.dev.master@gmail.com', N'sdsd', NULL, 100, N'Trạm y tế', 0, 1, CAST(N'2025-08-26T04:19:12.133' AS DateTime), CAST(N'2025-08-28T15:27:37.467' AS DateTime))
INSERT [dbo].[DiaDiem] ([maDiaDiem], [ten], [diaChi], [soDienThoai], [email], [moTa], [gioMoCua], [sucChua], [loaiDiaDiem], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'617cf3ca42304ed398c868784bca250e', N'kho trạm lưu hàng hóa', N'ádasdasd', N'123456789', N'kait.dev.master@gmail.com', N'lưu trữ vaccine', N'nguyên ngày', 1000000, N'Cơ sở tư nhân', 0, 1, CAST(N'2025-09-05T16:34:24.857' AS DateTime), NULL)
GO
INSERT [dbo].[DichVu] ([maDichVu], [ten], [moTa], [gia], [maLoaiDichVu], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'049dab3741e749c5b3ffdbeb4af9672f', N'Khám sức khỏe', N'Khám sức khỏe', CAST(90000.00 AS Decimal(10, 2)), N'80c0c3881cf543cba0a199e041dc1163', 1, 1, CAST(N'2025-08-25T16:00:04.987' AS DateTime), CAST(N'2025-09-08T05:16:56.907' AS DateTime))
INSERT [dbo].[DichVu] ([maDichVu], [ten], [moTa], [gia], [maLoaiDichVu], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'1e724fae143141cc9807e1a0fbc55c19', N'HPV cho giới trẻ', N'HOV', CAST(100000.00 AS Decimal(10, 2)), N'80c0c3881cf543cba0a199e041dc1163', 0, 1, CAST(N'2025-09-08T21:02:23.323' AS DateTime), NULL)
INSERT [dbo].[DichVu] ([maDichVu], [ten], [moTa], [gia], [maLoaiDichVu], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'289b7c6b46234d2f8bffa091d02cd258', N'Phòng ngừa cảm cúm cho trẻ cấp 1 ', N'Vaccine phòng ngừa cảm ứng ', CAST(200000.00 AS Decimal(10, 2)), N'91435b21363c438083d3c11ef0bfd9df', 0, 1, CAST(N'2025-09-08T16:16:52.713' AS DateTime), NULL)
GO
INSERT [dbo].[DichVuVaccine] ([maDichVuVaccine], [maDichVu], [maVaccine], [soMuiChuan], [ghiChu], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [thuTu]) VALUES (N'0ceb38617cae4e089a14550e3ddcb4a8', N'e8033834570d48ffb50b15b15e284cf6', N'3b271e36-9c0a-48ec-94b4-c14184d3371c', 1, NULL, 0, 1, CAST(N'2025-09-07T13:07:00.327' AS DateTime), NULL, 1)
INSERT [dbo].[DichVuVaccine] ([maDichVuVaccine], [maDichVu], [maVaccine], [soMuiChuan], [ghiChu], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [thuTu]) VALUES (N'102bba95cb3c4a3989d4c2ad8b3635f8', N'4b5a9c6f01114c47ba3345024a5a28bc', N'9c430d24-8ae1-448b-9173-0c8f2d8d7b02', 1, NULL, 0, 1, CAST(N'2025-09-03T08:06:16.750' AS DateTime), CAST(N'2025-09-03T16:14:34.053' AS DateTime), 1)
INSERT [dbo].[DichVuVaccine] ([maDichVuVaccine], [maDichVu], [maVaccine], [soMuiChuan], [ghiChu], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [thuTu]) VALUES (N'17c9d37c5cb84a85bb6e1147c2071d6c', N'049dab3741e749c5b3ffdbeb4af9672f', N'eea52446-1009-4d60-837a-217d37539e5e', 4, NULL, 1, 1, CAST(N'2025-08-25T16:31:06.397' AS DateTime), CAST(N'2025-08-26T03:03:05.190' AS DateTime), NULL)
GO
INSERT [dbo].[DieuKienDichVu] ([maDieuKien], [maDichVu], [tuoiThangToiThieu], [tuoiThangToiDa], [gioiTinh], [ghiChu]) VALUES (N'3186814da7ae41dea9243ded7ede6dd7', N'4406fb4128ca46c09a6e08c176dabba5', 24, 72, N'N?', NULL)
INSERT [dbo].[DieuKienDichVu] ([maDieuKien], [maDichVu], [tuoiThangToiThieu], [tuoiThangToiDa], [gioiTinh], [ghiChu]) VALUES (N'7c4945d4cfde4c9ea65618a11a9ff86e', N'4b5a9c6f01114c47ba3345024a5a28bc', 0, 5, NULL, N'Ch? áp d?ng cho tr? du?i 5 tháng tu?i')
INSERT [dbo].[DieuKienDichVu] ([maDieuKien], [maDichVu], [tuoiThangToiThieu], [tuoiThangToiDa], [gioiTinh], [ghiChu]) VALUES (N'aa54670684a945c49a3d63b3134a33be', N'049dab3741e749c5b3ffdbeb4af9672f', 0, 660, NULL, N'Khám s?c kh?e')
GO
INSERT [dbo].[DonHang] ([maDonHang], [maNguoiDung], [maDiaDiemYeuThich], [ngayDat], [tongTienGoc], [tongTienThanhToan], [trangThaiDon], [ghiChu], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'13e8e0ed7f674310a9f412df14989a79', N'6141a739-e0cd-4118-8720-370ca9260d48', NULL, CAST(N'2025-09-08T12:21:48.903' AS DateTime), CAST(170000.00 AS Decimal(12, 2)), CAST(170000.00 AS Decimal(12, 2)), N'PAID', N'Khách hàng: Nguyễn Văn A, SĐT: 0123456789, Email: user@example.com, Địa chỉ: s', 0, 1, CAST(N'2025-09-08T12:21:48.907' AS DateTime), CAST(N'2025-09-08T05:22:30.327' AS DateTime))
GO
INSERT [dbo].[DonHangChiTiet] ([maDonHangChiTiet], [maDonHang], [soMuiChuan], [donGiaMui], [thanhTien], [isDelete], [isActive], [ngayCapNhat], [maDichVu]) VALUES (N'0262f6f4dfd445b9ba66e6b702136e6b', N'64f80679607343038203737544b9d67a', 1, CAST(100000.00 AS Decimal(12, 2)), CAST(100000.00 AS Decimal(12, 2)), 0, 1, NULL, N'4406fb4128ca46c09a6e08c176dabba5')
INSERT [dbo].[DonHangChiTiet] ([maDonHangChiTiet], [maDonHang], [soMuiChuan], [donGiaMui], [thanhTien], [isDelete], [isActive], [ngayCapNhat], [maDichVu]) VALUES (N'2e096c9f57464c1e8d21e2651fcdddf2', N'e784d6f266f645c0b781c5093e8aec10', 1, CAST(200000.00 AS Decimal(12, 2)), CAST(200000.00 AS Decimal(12, 2)), 0, 1, NULL, N'289b7c6b46234d2f8bffa091d02cd258')
INSERT [dbo].[DonHangChiTiet] ([maDonHangChiTiet], [maDonHang], [soMuiChuan], [donGiaMui], [thanhTien], [isDelete], [isActive], [ngayCapNhat], [maDichVu]) VALUES (N'374ceb2d44904fdd8c1271ac0cc73f61', N'e599a514192e43f1a7c7ac73680d965b', 1, CAST(200000.00 AS Decimal(12, 2)), CAST(200000.00 AS Decimal(12, 2)), 0, 1, NULL, N'289b7c6b46234d2f8bffa091d02cd258')
GO
INSERT [dbo].[KeHoachTiem] ([maKeHoachTiem], [maNguoiDung], [maDichVu], [maDonHang], [maVaccine], [muiThu], [ngayDuKien], [trangThai]) VALUES (N'071affc659d84f72a804d9b5f73b00d1', N'6141a739-e0cd-4118-8720-370ca9260d48', N'4b5a9c6f01114c47ba3345024a5a28bc', N'13e8e0ed7f674310a9f412df14989a79', N'9c430d24-8ae1-448b-9173-0c8f2d8d7b02', 2, NULL, N'PENDING')
INSERT [dbo].[KeHoachTiem] ([maKeHoachTiem], [maNguoiDung], [maDichVu], [maDonHang], [maVaccine], [muiThu], [ngayDuKien], [trangThai]) VALUES (N'076fe8d77fc04de78f92e6af48b0eb38', N'6141a739-e0cd-4118-8720-370ca9260d48', N'4b5a9c6f01114c47ba3345024a5a28bc', N'13e8e0ed7f674310a9f412df14989a79', N'9c430d24-8ae1-448b-9173-0c8f2d8d7b02', 1, NULL, N'COMPLETED')
INSERT [dbo].[KeHoachTiem] ([maKeHoachTiem], [maNguoiDung], [maDichVu], [maDonHang], [maVaccine], [muiThu], [ngayDuKien], [trangThai]) VALUES (N'102f933626b949209a278721dbe36df9', N'6141a739-e0cd-4118-8720-370ca9260d48', N'4b5a9c6f01114c47ba3345024a5a28bc', N'13e8e0ed7f674310a9f412df14989a79', N'9c430d24-8ae1-448b-9173-0c8f2d8d7b02', 5, NULL, N'PENDING')
GO
INSERT [dbo].[LichHen] ([maLichHen], [maDonHang], [ngayHen], [trangThai], [ghiChu], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [maDiaDiem]) VALUES (N'00162db3bcae4bf38d4d01066679c2c6', N'e784d6f266f645c0b781c5093e8aec10', CAST(N'2025-09-11T03:12:00.000' AS DateTime), N'NOTIFICATION', N'Thông báo duyệt phiếu đăng ký lịch tiêm - a26db3c9b9cc4303ab48db74e62aebdf', 0, 1, CAST(N'2025-09-08T20:12:51.337' AS DateTime), CAST(N'2025-09-08T20:12:51.340' AS DateTime), N'3c6ae74db3f7409db9065a140838578a')
INSERT [dbo].[LichHen] ([maLichHen], [maDonHang], [ngayHen], [trangThai], [ghiChu], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [maDiaDiem]) VALUES (N'043716ad8d974fb3bed638a87ec46900', N'e599a514192e43f1a7c7ac73680d965b', CAST(N'2025-09-11T03:28:00.000' AS DateTime), N'NOTIFICATION', N'Thông báo duyệt phiếu đăng ký lịch tiêm - 863effddf4db4489a1c8cbe9d400215e', 0, 1, CAST(N'2025-09-08T20:29:09.127' AS DateTime), CAST(N'2025-09-08T20:29:09.127' AS DateTime), N'3c6ae74db3f7409db9065a140838578a')
INSERT [dbo].[LichHen] ([maLichHen], [maDonHang], [ngayHen], [trangThai], [ghiChu], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [maDiaDiem]) VALUES (N'6721083fe9fa42ac8ecb590095bcb380', N'13e8e0ed7f674310a9f412df14989a79', CAST(N'2025-09-11T00:00:00.000' AS DateTime), N'COMPLETED', N'Thông báo duyệt phiếu đăng ký lịch tiêm - e89bbc30fb524fb9b9826d484ef879e0', 0, 1, CAST(N'2025-09-08T15:44:38.727' AS DateTime), CAST(N'2025-09-08T20:09:33.340' AS DateTime), N'3c6ae74db3f7409db9065a140838578a')
GO
INSERT [dbo].[LichLamViec] ([maLichLamViec], [maBacSi], [maDiaDiem], [ngayLam], [gioBatDau], [gioKetThuc], [soLuongCho], [daDat], [trangThai], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'04dbe5c460af4b5fbc99ddffa11ba0c8', N'4cf08a1675264f209f4bb7203446b90e', N'3c6ae74db3f7409db9065a140838578a', CAST(N'2025-09-04' AS Date), CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 20, 1, N'Available', 0, 1, CAST(N'2025-08-28T05:06:56.760' AS DateTime), NULL)
INSERT [dbo].[LichLamViec] ([maLichLamViec], [maBacSi], [maDiaDiem], [ngayLam], [gioBatDau], [gioKetThuc], [soLuongCho], [daDat], [trangThai], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'21ee81ffbb414daf8b8da1a9b27f71f6', N'4cf08a1675264f209f4bb7203446b90e', N'3c6ae74db3f7409db9065a140838578a', CAST(N'2025-09-01' AS Date), CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 20, 0, N'Available', 0, 1, CAST(N'2025-08-28T05:06:56.713' AS DateTime), NULL)
INSERT [dbo].[LichLamViec] ([maLichLamViec], [maBacSi], [maDiaDiem], [ngayLam], [gioBatDau], [gioKetThuc], [soLuongCho], [daDat], [trangThai], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'39b0908497ff4c168de0f79e3a94261c', N'4cf08a1675264f209f4bb7203446b90e', N'3c6ae74db3f7409db9065a140838578a', CAST(N'2025-09-06' AS Date), CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 20, 0, N'Available', 0, 1, CAST(N'2025-08-28T05:06:56.797' AS DateTime), NULL)
GO
INSERT [dbo].[LichTiemChuan] ([maLichTiemChuan], [maVaccine], [muiThu], [tuoiThangToiThieu], [tuoiThangToiDa], [soNgaySauMuiTruoc], [ghiChu], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'09439a41f1dd4d58b6b60a758ebf160a', N'eea52446-1009-4d60-837a-217d37539e5e', 1, 9, 12, 15, NULL, 0, 1, CAST(N'2025-09-07T13:31:35.710' AS DateTime), CAST(N'2025-09-08T05:20:19.910' AS DateTime))
INSERT [dbo].[LichTiemChuan] ([maLichTiemChuan], [maVaccine], [muiThu], [tuoiThangToiThieu], [tuoiThangToiDa], [soNgaySauMuiTruoc], [ghiChu], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'104df95519db4bc28228e3f399bdcab1', N'404e0aa0-422f-45ef-a38c-47face696cb4', 1, 24, 72, 10, NULL, 0, 1, CAST(N'2025-09-08T20:42:11.253' AS DateTime), NULL)
INSERT [dbo].[LichTiemChuan] ([maLichTiemChuan], [maVaccine], [muiThu], [tuoiThangToiThieu], [tuoiThangToiDa], [soNgaySauMuiTruoc], [ghiChu], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'2a6366bb63664ae89be905a77fe59a87', N'9c430d24-8ae1-448b-9173-0c8f2d8d7b02', 3, 0, 5, 15, N'Bắc buộc tiêm', 0, 1, CAST(N'2025-09-03T17:31:27.550' AS DateTime), CAST(N'2025-09-08T05:20:59.077' AS DateTime))
GO
INSERT [dbo].[LoaiDichVu] ([maLoaiDichVu], [tenLoai], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'80c0c3881cf543cba0a199e041dc1163', N'Gói tiêm cho người lớn', 0, 1, CAST(N'2025-08-20T15:38:12.543' AS DateTime), CAST(N'2025-09-03T16:11:36.927' AS DateTime))
INSERT [dbo].[LoaiDichVu] ([maLoaiDichVu], [tenLoai], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'91435b21363c438083d3c11ef0bfd9df', N'Gói dịch vụ đơn', 0, 1, CAST(N'2025-09-03T16:11:50.847' AS DateTime), NULL)
INSERT [dbo].[LoaiDichVu] ([maLoaiDichVu], [tenLoai], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'b200d3042cbe4627924ae50b4cd68bc5', N'Gói tiêm cho trẻ em ', 0, 1, CAST(N'2025-08-26T02:50:41.327' AS DateTime), CAST(N'2025-09-03T16:11:28.320' AS DateTime))
GO
INSERT [dbo].[LoaiKhuyenMai] ([maLoaiKhuyenMai], [tenLoai], [moTa], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'9d939ebc-6265-43d2-96b0-ba80cab1306c', N'Hè  sd', N'', 1, 1, CAST(N'2025-08-28T23:02:01.013' AS DateTime), CAST(N'2025-08-28T23:10:34.573' AS DateTime))
INSERT [dbo].[LoaiKhuyenMai] ([maLoaiKhuyenMai], [tenLoai], [moTa], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'b2764da1-7abb-4fe7-90e3-38da3c6ab69e', N'Hè', N'', 0, 1, CAST(N'2025-08-28T23:10:56.280' AS DateTime), CAST(N'2025-08-28T23:10:56.280' AS DateTime))
GO
INSERT [dbo].[LoVaccine] ([maLo], [maVaccine], [maNhaCungCap], [soLo], [ngaySanXuat], [ngayHetHan], [soLuongNhap], [soLuongHienTai], [giaNhap], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'2d70f5a7180e4f0fa4b49d9e8c804507', N'eea52446-1009-4d60-837a-217d37539e5e', N'b87cc03ff8414bccbc1b9039c0408c63', N'20120_sdsd_1', CAST(N'2025-09-06' AS Date), CAST(N'2025-09-30' AS Date), 10, 20, CAST(3000000.00 AS Decimal(12, 2)), 0, 1, CAST(N'2025-09-06T01:33:16.543' AS DateTime), CAST(N'2025-09-06T01:33:16.907' AS DateTime))
INSERT [dbo].[LoVaccine] ([maLo], [maVaccine], [maNhaCungCap], [soLo], [ngaySanXuat], [ngayHetHan], [soLuongNhap], [soLuongHienTai], [giaNhap], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'359486a070fd469087d9e1b3eb96f2de', N'eea52446-1009-4d60-837a-217d37539e5e', N'a5b2e7efeb394ac6afb2cd786bacc113', N'06_09_2025_23_13_310', CAST(N'2025-09-06' AS Date), CAST(N'2025-09-30' AS Date), 10, 9, CAST(100000.00 AS Decimal(12, 2)), 0, 1, CAST(N'2025-09-06T16:14:14.803' AS DateTime), CAST(N'2025-09-06T16:21:08.527' AS DateTime))
INSERT [dbo].[LoVaccine] ([maLo], [maVaccine], [maNhaCungCap], [soLo], [ngaySanXuat], [ngayHetHan], [soLuongNhap], [soLuongHienTai], [giaNhap], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'3adfbf0507614fe09460bb2a4c797589', N'eea52446-1009-4d60-837a-217d37539e5e', N'b87cc03ff8414bccbc1b9039c0408c63', N'06_09_2025_09_06_519', CAST(N'2025-09-06' AS Date), CAST(N'2025-09-30' AS Date), 20, 25, CAST(3000000.00 AS Decimal(12, 2)), 0, 1, CAST(N'2025-09-06T02:06:44.377' AS DateTime), CAST(N'2025-09-06T16:20:07.267' AS DateTime))
GO
INSERT [dbo].[NguoiDung] ([maNguoiDung], [maVaiTro], [ten], [email], [matKhau], [soDienThoai], [ngaySinh], [diaChi], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [maAnh], [gioiTinh]) VALUES (N'408e96b5-3ba3-49c4-a81f-1ac9cc554fe2', N'VT001', N'Nguyễn Văn B', N'nguyenvanb@gmail.com', N'$2a$11$gvULUMHnuqLAxmU/orDy4embfzNCjapFDhMcr6UfCQWZQoof.ILFO', N'0123456784', CAST(N'2024-07-12' AS Date), N'121212', 0, 1, CAST(N'2025-09-08T16:14:09.720' AS DateTime), CAST(N'2025-09-08T16:25:47.243' AS DateTime), NULL, NULL)
INSERT [dbo].[NguoiDung] ([maNguoiDung], [maVaiTro], [ten], [email], [matKhau], [soDienThoai], [ngaySinh], [diaChi], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [maAnh], [gioiTinh]) VALUES (N'6141a739-e0cd-4118-8720-370ca9260d48', N'VT001', N'Nguyễn Văn A', N'user@example.com', N'$2a$11$l1Qy2kWkzKzjKE9hcY/NVOWmvJI03P9JQslh7d3Ij89Ght/dHmsHe', N'0123456789', CAST(N'2023-02-07' AS Date), N'', 0, 1, CAST(N'2025-08-13T08:56:12.050' AS DateTime), CAST(N'2025-09-08T20:11:08.933' AS DateTime), NULL, NULL)
INSERT [dbo].[NguoiDung] ([maNguoiDung], [maVaiTro], [ten], [email], [matKhau], [soDienThoai], [ngaySinh], [diaChi], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [maAnh], [gioiTinh]) VALUES (N'73fedf0b-91ca-4c55-b7ca-71b7a0ecc7c7', N'VT003', N'Nguyễn Văn Quản lý', N'manager@example.com', N'$2a$11$aAuRU6SDPveuFy.R8FDGUeWx0kdOtuvlU8gxxtJpsdk7/K1LLg1/e', N'0123456759', CAST(N'2025-08-13' AS Date), N'', 0, 1, CAST(N'2025-08-13T10:28:31.063' AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[NguoiDungQuyen] ([maNguoiDung], [maQuyen], [ngayTao], [isDelete], [isActive], [ngayCapNhat]) VALUES (N'6141a739-e0cd-4118-8720-370ca9260d48', N'AnhDiaDiem_CREATE', CAST(N'2025-08-29T17:20:08.167' AS DateTime), 0, 1, NULL)
INSERT [dbo].[NguoiDungQuyen] ([maNguoiDung], [maQuyen], [ngayTao], [isDelete], [isActive], [ngayCapNhat]) VALUES (N'73fedf0b-91ca-4c55-b7ca-71b7a0ecc7c7', N'AnhDiaDiem_ALL', CAST(N'2025-08-29T16:57:24.367' AS DateTime), 0, 1, NULL)
INSERT [dbo].[NguoiDungQuyen] ([maNguoiDung], [maQuyen], [ngayTao], [isDelete], [isActive], [ngayCapNhat]) VALUES (N'73fedf0b-91ca-4c55-b7ca-71b7a0ecc7c7', N'AnhDiaDiem_UPDATE', CAST(N'2025-08-29T16:57:20.757' AS DateTime), 0, 1, NULL)
GO
INSERT [dbo].[NguonAnh] ([maAnh], [maNhan], [urlAnh], [altText], [nguoiTai], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'0344f161c2da4d05824b8b9f758f5a93', N'572236fecc394e6394acabf3a358ce73', N'/media/0344f161c2da4d05824b8b9f758f5a93.png', N'sadasd', NULL, 0, 1, CAST(N'2025-08-21T08:57:18.593' AS DateTime), NULL)
INSERT [dbo].[NguonAnh] ([maAnh], [maNhan], [urlAnh], [altText], [nguoiTai], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'145d7a0298ec4175bd614b3746ff7ad5', N'572236fecc394e6394acabf3a358ce73', N'/media/145d7a0298ec4175bd614b3746ff7ad5.jpg', N'sadasd', NULL, 0, 1, CAST(N'2025-08-21T08:57:18.520' AS DateTime), NULL)
INSERT [dbo].[NguonAnh] ([maAnh], [maNhan], [urlAnh], [altText], [nguoiTai], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'2254a5e09a2049f794a89568c3451326', N'572236fecc394e6394acabf3a358ce73', N'/media/2254a5e09a2049f794a89568c3451326.png', N'sadasd', NULL, 0, 1, CAST(N'2025-08-21T08:57:18.613' AS DateTime), NULL)
GO
INSERT [dbo].[NhaCungCap] ([maNhaCungCap], [ten], [nguoiLienHe], [soDienThoai], [diaChi], [maAnh], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'a5b2e7efeb394ac6afb2cd786bacc113', N'Anh Pháp 100', N'anh dũng ', N'0123456789', N'dsdasdad', NULL, 0, 1, CAST(N'2025-09-04T16:00:20.977' AS DateTime), NULL)
INSERT [dbo].[NhaCungCap] ([maNhaCungCap], [ten], [nguoiLienHe], [soDienThoai], [diaChi], [maAnh], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'b87cc03ff8414bccbc1b9039c0408c63', N'Anh Mỹ 1000', N'anh hoàng', N'0123456788', N'adsdasdas', NULL, 0, 1, CAST(N'2025-09-04T16:00:42.473' AS DateTime), NULL)
GO
INSERT [dbo].[NhanAnh] ([maNhan], [tenNhan], [moTa], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'19710d1f769f4581a96559b8f6be170a', N'Nhãn nhà sản xuất', N'Nhà sản xuất
', 0, 1, CAST(N'2025-08-21T09:21:33.480' AS DateTime), CAST(N'2025-08-21T09:21:44.667' AS DateTime))
INSERT [dbo].[NhanAnh] ([maNhan], [tenNhan], [moTa], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'4c789eaa2a3a441baf00ecba5024f9b6', N'Bác sĩ', N'Ảnh của bác sĩ', 0, 1, CAST(N'2025-08-13T11:48:07.520' AS DateTime), NULL)
INSERT [dbo].[NhanAnh] ([maNhan], [tenNhan], [moTa], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'572236fecc394e6394acabf3a358ce73', N'Địa điểm', N'Ảnh của địa điểm tiêm chủng mới', 0, 1, CAST(N'2025-08-13T11:30:23.670' AS DateTime), CAST(N'2025-08-14T03:37:51.673' AS DateTime))
GO
INSERT [dbo].[PhieuNhap] ([maPhieuNhap], [maNhaCungCap], [ngayNhap], [tongTien], [trangThai], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [maQuanLy]) VALUES (N'1df414cf095840759d66a399644c1304', N'a5b2e7efeb394ac6afb2cd786bacc113', CAST(N'2025-09-06T00:00:00.000' AS DateTime), CAST(11000000.00 AS Decimal(12, 2)), N'Rejected', 0, 1, CAST(N'2025-09-06T09:44:06.170' AS DateTime), CAST(N'2025-09-06T09:46:04.937' AS DateTime), N'fac38456c35e41148e2aeaac0b4cb805')
INSERT [dbo].[PhieuNhap] ([maPhieuNhap], [maNhaCungCap], [ngayNhap], [tongTien], [trangThai], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [maQuanLy]) VALUES (N'1f1dad2a96eb46ccab7f18f30adc4b1d', N'b87cc03ff8414bccbc1b9039c0408c63', CAST(N'2025-09-06T00:00:00.000' AS DateTime), CAST(0.00 AS Decimal(12, 2)), N'Pending', 1, 1, CAST(N'2025-09-06T01:33:16.790' AS DateTime), CAST(N'2025-09-06T02:06:58.813' AS DateTime), N'fac38456c35e41148e2aeaac0b4cb805')
INSERT [dbo].[PhieuNhap] ([maPhieuNhap], [maNhaCungCap], [ngayNhap], [tongTien], [trangThai], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [maQuanLy]) VALUES (N'2035096af6f94004b3b52fdabc585c3e', N'b87cc03ff8414bccbc1b9039c0408c63', CAST(N'2025-09-06T00:00:00.000' AS DateTime), CAST(60000000.00 AS Decimal(12, 2)), N'Approved', 0, 1, CAST(N'2025-09-06T02:06:44.793' AS DateTime), CAST(N'2025-09-06T02:07:26.430' AS DateTime), N'fac38456c35e41148e2aeaac0b4cb805')
GO
INSERT [dbo].[PhieuThanhLy] ([maPhieuThanhLy], [maDiaDiem], [ngayThanhLy], [trangThai], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'4d96d91c3b2d4a598f72ca1cfaf8b5c1', N'617cf3ca42304ed398c868784bca250e', CAST(N'2025-09-06T00:00:00.000' AS DateTime), N'Approved', 0, 1, CAST(N'2025-09-06T16:19:51.047' AS DateTime), CAST(N'2025-09-06T16:20:07.267' AS DateTime))
INSERT [dbo].[PhieuThanhLy] ([maPhieuThanhLy], [maDiaDiem], [ngayThanhLy], [trangThai], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'612fc11aa7e440d7ace2b3bd7b5b5dda', N'617cf3ca42304ed398c868784bca250e', CAST(N'2025-09-06T00:00:00.000' AS DateTime), N'Approved', 0, 1, CAST(N'2025-09-06T16:20:59.103' AS DateTime), CAST(N'2025-09-06T16:21:08.527' AS DateTime))
INSERT [dbo].[PhieuThanhLy] ([maPhieuThanhLy], [maDiaDiem], [ngayThanhLy], [trangThai], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'6965dbeac79c4cff9a29424735cbdfba', N'617cf3ca42304ed398c868784bca250e', CAST(N'2025-09-06T00:00:00.000' AS DateTime), N'Approved', 0, 1, CAST(N'2025-09-06T14:54:56.353' AS DateTime), CAST(N'2025-09-06T15:02:14.653' AS DateTime))
GO
INSERT [dbo].[PhieuTiem] ([maPhieuTiem], [ngayTiem], [maBacSi], [phanUng], [moTaPhanUng], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [maDichVu], [trangThai], [maNguoiDung], [maKeHoachTiem]) VALUES (N'024139b5f1674805b0191cc49f3e88eb', CAST(N'2025-09-08T00:00:00.000' AS DateTime), N'4cf08a1675264f209f4bb7203446b90e', NULL, NULL, 0, 1, CAST(N'2025-09-08T19:39:38.520' AS DateTime), CAST(N'2025-09-08T19:39:38.520' AS DateTime), N'289b7c6b46234d2f8bffa091d02cd258', N'COMPLETED', N'408e96b5-3ba3-49c4-a81f-1ac9cc554fe2', N'bad38b0e66084f34ab95a7a59d05b394')
INSERT [dbo].[PhieuTiem] ([maPhieuTiem], [ngayTiem], [maBacSi], [phanUng], [moTaPhanUng], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [maDichVu], [trangThai], [maNguoiDung], [maKeHoachTiem]) VALUES (N'796124fdcdd64bd59d19542ce05d80dd', CAST(N'2025-09-08T00:00:00.000' AS DateTime), N'4cf08a1675264f209f4bb7203446b90e', NULL, NULL, 0, 1, CAST(N'2025-09-08T19:35:35.060' AS DateTime), CAST(N'2025-09-08T19:35:35.060' AS DateTime), N'289b7c6b46234d2f8bffa091d02cd258', N'COMPLETED', N'408e96b5-3ba3-49c4-a81f-1ac9cc554fe2', N'407aea2be7c342e39b26ed80ed1fe6d4')
INSERT [dbo].[PhieuTiem] ([maPhieuTiem], [ngayTiem], [maBacSi], [phanUng], [moTaPhanUng], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [maDichVu], [trangThai], [maNguoiDung], [maKeHoachTiem]) VALUES (N'a3843e3c17954d89996f247fce31b83a', CAST(N'2025-09-08T00:00:00.000' AS DateTime), N'4cf08a1675264f209f4bb7203446b90e', NULL, NULL, 0, 1, CAST(N'2025-09-08T20:48:51.090' AS DateTime), CAST(N'2025-09-08T20:48:51.090' AS DateTime), N'4406fb4128ca46c09a6e08c176dabba5', N'COMPLETED', N'8d05ce48-3820-4733-8a4a-a7f3d505118e', N'9b8c8c915af84884961ccc218d739ad5')
GO
INSERT [dbo].[PhieuXuat] ([maPhieuXuat], [maDiaDiemXuat], [maDiaDiemNhap], [ngayXuat], [loaiXuat], [trangThai], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [maQuanLy]) VALUES (N'042aa151d48747299428b3f41a1c29fc', N'617cf3ca42304ed398c868784bca250e', N'3c6ae74db3f7409db9065a140838578a', CAST(N'2025-09-06T00:00:00.000' AS DateTime), N'Bán hàng', N'Pending', 1, 1, CAST(N'2025-09-06T09:22:59.850' AS DateTime), CAST(N'2025-09-06T11:18:10.387' AS DateTime), N'fac38456c35e41148e2aeaac0b4cb805')
INSERT [dbo].[PhieuXuat] ([maPhieuXuat], [maDiaDiemXuat], [maDiaDiemNhap], [ngayXuat], [loaiXuat], [trangThai], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [maQuanLy]) VALUES (N'46c21e50484543faa8126b05dd0ecab4', N'617cf3ca42304ed398c868784bca250e', N'3c6ae74db3f7409db9065a140838578a', CAST(N'2025-09-06T00:00:00.000' AS DateTime), N'Bán hàng', N'Approved', 0, 1, CAST(N'2025-09-06T10:50:02.153' AS DateTime), CAST(N'2025-09-06T16:17:38.973' AS DateTime), N'fac38456c35e41148e2aeaac0b4cb805')
INSERT [dbo].[PhieuXuat] ([maPhieuXuat], [maDiaDiemXuat], [maDiaDiemNhap], [ngayXuat], [loaiXuat], [trangThai], [isDelete], [isActive], [ngayTao], [ngayCapNhat], [maQuanLy]) VALUES (N'93f2cd6af39347d5b8c8d23ba8ed2326', N'617cf3ca42304ed398c868784bca250e', N'3c6ae74db3f7409db9065a140838578a', CAST(N'2025-09-06T00:00:00.000' AS DateTime), N'Bán hàng', N'Approved', 0, 1, CAST(N'2025-09-06T16:17:19.627' AS DateTime), CAST(N'2025-09-06T16:18:05.397' AS DateTime), N'fac38456c35e41148e2aeaac0b4cb805')
GO
INSERT [dbo].[QuanLy] ([maQuanLy], [maNguoiDung], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'44edd834f701445d9f71b181b7f94799', N'c5c9d4b32a344467827ca88cfa2fee30', 0, 1, CAST(N'2025-09-08T20:59:21.607' AS DateTime), CAST(N'2025-09-08T20:59:21.607' AS DateTime))
INSERT [dbo].[QuanLy] ([maQuanLy], [maNguoiDung], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'fac38456c35e41148e2aeaac0b4cb805', N'73fedf0b-91ca-4c55-b7ca-71b7a0ecc7c7', 0, 1, CAST(N'2025-09-04T16:33:02.333' AS DateTime), NULL)
GO
INSERT [dbo].[Quyen] ([maQuyen], [tenQuyen], [moTa], [module], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'AnhDiaDiem_ALL', N'Tất cả ảnh địa điểm', NULL, N'AnhDiaDiem', NULL, 1, NULL, NULL)
INSERT [dbo].[Quyen] ([maQuyen], [tenQuyen], [moTa], [module], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'AnhDiaDiem_CREATE', N'Thêm ảnh địa điểm', NULL, N'AnhDiaDiem', NULL, 1, NULL, NULL)
INSERT [dbo].[Quyen] ([maQuyen], [tenQuyen], [moTa], [module], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'AnhDiaDiem_DELETE', N'Xóa ảnh địa điểm', NULL, N'AnhDiaDiem', NULL, 1, NULL, NULL)
GO
INSERT [dbo].[ThongTinNguoiDung] ([maThongTin], [maNguoiDung], [chieuCao], [canNang], [bmi], [nhomMau], [benhNen], [diUng], [thuocDangDung], [tinhTrangMangThai], [ngayKhamGanNhat], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'048b5bfdf5b147049d37167b1ac0a00e', N'6141a739-e0cd-4118-8720-370ca9260d48', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 1, CAST(N'2025-09-01T02:47:11.183' AS DateTime), CAST(N'2025-09-08T20:11:08.980' AS DateTime))
INSERT [dbo].[ThongTinNguoiDung] ([maThongTin], [maNguoiDung], [chieuCao], [canNang], [bmi], [nhomMau], [benhNen], [diUng], [thuocDangDung], [tinhTrangMangThai], [ngayKhamGanNhat], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'58852059e7d54c8f987fa5a1222ff862', N'8d05ce48-3820-4733-8a4a-a7f3d505118e', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 1, CAST(N'2025-09-08T20:27:10.990' AS DateTime), CAST(N'2025-09-08T20:44:14.327' AS DateTime))
INSERT [dbo].[ThongTinNguoiDung] ([maThongTin], [maNguoiDung], [chieuCao], [canNang], [bmi], [nhomMau], [benhNen], [diUng], [thuocDangDung], [tinhTrangMangThai], [ngayKhamGanNhat], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'65a88dc77ba34366850b1ccd9492ea86', N'8730035e63214326bfee1d877bcadc9b', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 1, CAST(N'2025-09-01T02:35:40.913' AS DateTime), CAST(N'2025-09-01T02:35:40.913' AS DateTime))
GO
INSERT [dbo].[TonKhoLo] ([maTonKho], [maDiaDiem], [maLo], [soLuong], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'0ff8306f7fa3441c9ba9a31ded314aff', N'3c6ae74db3f7409db9065a140838578a', N'4a0bbf0fbf0d455d8ed2e1e0d0c3bac4', 2, 0, 1, CAST(N'2025-09-06T10:01:03.263' AS DateTime), CAST(N'2025-09-06T10:01:03.263' AS DateTime))
INSERT [dbo].[TonKhoLo] ([maTonKho], [maDiaDiem], [maLo], [soLuong], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'3f1230a567c94bfe94c8e744f663d830', N'617cf3ca42304ed398c868784bca250e', N'a41e7a4001964cd2b3ed9e3d16846b44', 30, 0, 1, CAST(N'2025-09-06T09:44:06.187' AS DateTime), CAST(N'2025-09-06T09:44:06.187' AS DateTime))
INSERT [dbo].[TonKhoLo] ([maTonKho], [maDiaDiem], [maLo], [soLuong], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'59b4e8e1d7574bdd90df949f0605ff97', N'617cf3ca42304ed398c868784bca250e', N'3adfbf0507614fe09460bb2a4c797589', 15, 0, 1, CAST(N'2025-09-06T02:06:44.810' AS DateTime), CAST(N'2025-09-06T11:18:56.290' AS DateTime))
GO
INSERT [dbo].[Vaccine] ([maVaccine], [ten], [nhaSanXuat], [tuoiBatDauTiem], [tuoiKetThucTiem], [huongDanSuDung], [phongNgua], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'3b271e36-9c0a-48ec-94b4-c14184d3371c', N'Rotarix', N'Bỉ', 0, 100, N'Tiêu chảy do rota virus', N'Tiêu chảy do rota virus', 0, 1, CAST(N'2025-09-07T03:04:56.207' AS DateTime), CAST(N'2025-09-07T03:04:56.207' AS DateTime))
INSERT [dbo].[Vaccine] ([maVaccine], [ten], [nhaSanXuat], [tuoiBatDauTiem], [tuoiKetThucTiem], [huongDanSuDung], [phongNgua], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'3b51d10c-e167-4f0d-8ef7-2eeb44f533a0', N'Nimenrix', N'BỈ', 100, 120, N'sds', N'sdsd', 0, 1, CAST(N'2025-09-07T12:43:45.597' AS DateTime), CAST(N'2025-09-07T12:43:45.597' AS DateTime))
INSERT [dbo].[Vaccine] ([maVaccine], [ten], [nhaSanXuat], [tuoiBatDauTiem], [tuoiKetThucTiem], [huongDanSuDung], [phongNgua], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'404e0aa0-422f-45ef-a38c-47face696cb4', N'HPV', N'Việt Nam', 100, 120, N'Tiêm HPV dành cho nữ', N'ưng thư', 0, 1, CAST(N'2025-09-08T20:41:52.300' AS DateTime), CAST(N'2025-09-08T20:42:41.017' AS DateTime))
GO
INSERT [dbo].[VaiTro] ([maVaiTro], [tenVaiTro], [moTa], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'VT001', N'USER', N'Người dùng', 0, 1, NULL, NULL)
INSERT [dbo].[VaiTro] ([maVaiTro], [tenVaiTro], [moTa], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'VT002', N'DOCTOR', N'Bác sĩ', 0, 1, NULL, NULL)
INSERT [dbo].[VaiTro] ([maVaiTro], [tenVaiTro], [moTa], [isDelete], [isActive], [ngayTao], [ngayCapNhat]) VALUES (N'VT003', N'MANAGER', N'Quản lý', 0, 1, NULL, NULL)
GO
INSERT [dbo].[VaiTroQuyen] ([maVaiTro], [maQuyen], [ngayTao], [isDelete], [isActive], [ngayCapNhat]) VALUES (N'VT001', N'DichVu_READ', CAST(N'2025-08-29T16:45:16.507' AS DateTime), 0, 1, NULL)
INSERT [dbo].[VaiTroQuyen] ([maVaiTro], [maQuyen], [ngayTao], [isDelete], [isActive], [ngayCapNhat]) VALUES (N'VT001', N'DichVuVaccine_READ', CAST(N'2025-08-29T16:45:25.987' AS DateTime), 0, 1, NULL)
INSERT [dbo].[VaiTroQuyen] ([maVaiTro], [maQuyen], [ngayTao], [isDelete], [isActive], [ngayCapNhat]) VALUES (N'VT001', N'DonHang_CREATE', CAST(N'2025-08-29T16:44:51.997' AS DateTime), 0, 1, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BacSi__446439EBDE1365ED]    Script Date: 9/9/2025 11:05:09 PM ******/
ALTER TABLE [dbo].[BacSi] ADD UNIQUE NONCLUSTERED 
(
	[maNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__QuanLy__446439EB297BE629]    Script Date: 9/9/2025 11:05:09 PM ******/
ALTER TABLE [dbo].[QuanLy] ADD UNIQUE NONCLUSTERED 
(
	[maNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KeHoachTiem] ADD  DEFAULT ('ChuaTiem') FOR [trangThai]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((0)) FOR [soLuotDaDung]
GO
ALTER TABLE [dbo].[LichLamViec] ADD  DEFAULT ((0)) FOR [daDat]
GO
ALTER TABLE [dbo].[PhieuDangKyLichTiem] ADD  DEFAULT ((0)) FOR [isDelete]
GO
ALTER TABLE [dbo].[PhieuDangKyLichTiem] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[AnhDiaDiem]  WITH CHECK ADD FOREIGN KEY([maAnh])
REFERENCES [dbo].[NguonAnh] ([maAnh])
GO
ALTER TABLE [dbo].[AnhDiaDiem]  WITH CHECK ADD FOREIGN KEY([maDiaDiem])
REFERENCES [dbo].[DiaDiem] ([maDiaDiem])
GO
ALTER TABLE [dbo].[AnhDichVu]  WITH CHECK ADD FOREIGN KEY([maAnh])
REFERENCES [dbo].[NguonAnh] ([maAnh])
GO
ALTER TABLE [dbo].[AnhDichVu]  WITH CHECK ADD FOREIGN KEY([maDichVu])
REFERENCES [dbo].[DichVu] ([maDichVu])
GO
ALTER TABLE [dbo].[AnhNhaCungCap]  WITH CHECK ADD FOREIGN KEY([maAnh])
REFERENCES [dbo].[NguonAnh] ([maAnh])
GO
ALTER TABLE [dbo].[AnhNhaCungCap]  WITH CHECK ADD FOREIGN KEY([maNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([maNhaCungCap])
GO
ALTER TABLE [dbo].[AnhVaccine]  WITH CHECK ADD FOREIGN KEY([maAnh])
REFERENCES [dbo].[NguonAnh] ([maAnh])
GO
ALTER TABLE [dbo].[AnhVaccine]  WITH CHECK ADD FOREIGN KEY([maVaccine])
REFERENCES [dbo].[Vaccine] ([maVaccine])
GO
ALTER TABLE [dbo].[BacSi]  WITH CHECK ADD FOREIGN KEY([maNguoiDung])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[BacSi]  WITH CHECK ADD  CONSTRAINT [FK_bacSi_DiaDiem] FOREIGN KEY([maDiaDiem])
REFERENCES [dbo].[DiaDiem] ([maDiaDiem])
GO
ALTER TABLE [dbo].[BacSi] CHECK CONSTRAINT [FK_bacSi_DiaDiem]
GO
ALTER TABLE [dbo].[ChiTietNhap]  WITH CHECK ADD FOREIGN KEY([maPhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([maPhieuNhap])
GO
ALTER TABLE [dbo].[ChiTietNhap]  WITH CHECK ADD FOREIGN KEY([maLo])
REFERENCES [dbo].[LoVaccine] ([maLo])
GO
ALTER TABLE [dbo].[ChiTietPhieuTiem]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietPh__maPhi__NewConstraint1] FOREIGN KEY([maPhieuTiem])
REFERENCES [dbo].[PhieuTiem] ([maPhieuTiem])
GO
ALTER TABLE [dbo].[ChiTietPhieuTiem] CHECK CONSTRAINT [FK__ChiTietPh__maPhi__NewConstraint1]
GO
ALTER TABLE [dbo].[ChiTietPhieuTiem]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietPh__maVac__NewConstraint2] FOREIGN KEY([maVaccine])
REFERENCES [dbo].[Vaccine] ([maVaccine])
GO
ALTER TABLE [dbo].[ChiTietPhieuTiem] CHECK CONSTRAINT [FK__ChiTietPh__maVac__NewConstraint2]
GO
ALTER TABLE [dbo].[ChiTietThanhLy]  WITH CHECK ADD FOREIGN KEY([maPhieuThanhLy])
REFERENCES [dbo].[PhieuThanhLy] ([maPhieuThanhLy])
GO
ALTER TABLE [dbo].[ChiTietThanhLy]  WITH CHECK ADD FOREIGN KEY([maLo])
REFERENCES [dbo].[LoVaccine] ([maLo])
GO
ALTER TABLE [dbo].[ChiTietXuat]  WITH CHECK ADD FOREIGN KEY([maPhieuXuat])
REFERENCES [dbo].[PhieuXuat] ([maPhieuXuat])
GO
ALTER TABLE [dbo].[ChiTietXuat]  WITH CHECK ADD FOREIGN KEY([maLo])
REFERENCES [dbo].[LoVaccine] ([maLo])
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD FOREIGN KEY([maLoaiDichVu])
REFERENCES [dbo].[LoaiDichVu] ([maLoaiDichVu])
GO
ALTER TABLE [dbo].[DichVuVaccine]  WITH CHECK ADD FOREIGN KEY([maDichVu])
REFERENCES [dbo].[DichVu] ([maDichVu])
GO
ALTER TABLE [dbo].[DichVuVaccine]  WITH CHECK ADD FOREIGN KEY([maVaccine])
REFERENCES [dbo].[Vaccine] ([maVaccine])
GO
ALTER TABLE [dbo].[DieuKienDichVu]  WITH CHECK ADD FOREIGN KEY([maDichVu])
REFERENCES [dbo].[DichVu] ([maDichVu])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([maDiaDiemYeuThich])
REFERENCES [dbo].[DiaDiem] ([maDiaDiem])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([maNguoiDung])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD FOREIGN KEY([maDonHang])
REFERENCES [dbo].[DonHang] ([maDonHang])
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DonHangChiTiet_DichVu] FOREIGN KEY([maDichVu])
REFERENCES [dbo].[DichVu] ([maDichVu])
GO
ALTER TABLE [dbo].[DonHangChiTiet] CHECK CONSTRAINT [FK_DonHangChiTiet_DichVu]
GO
ALTER TABLE [dbo].[DonHangKhuyenMai]  WITH CHECK ADD FOREIGN KEY([maDonHang])
REFERENCES [dbo].[DonHang] ([maDonHang])
GO
ALTER TABLE [dbo].[DonHangKhuyenMai]  WITH CHECK ADD FOREIGN KEY([maKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([maKhuyenMai])
GO
ALTER TABLE [dbo].[KeHoachTiem]  WITH CHECK ADD FOREIGN KEY([maDichVu])
REFERENCES [dbo].[DichVu] ([maDichVu])
GO
ALTER TABLE [dbo].[KeHoachTiem]  WITH CHECK ADD FOREIGN KEY([maDonHang])
REFERENCES [dbo].[DonHang] ([maDonHang])
GO
ALTER TABLE [dbo].[KeHoachTiem]  WITH CHECK ADD FOREIGN KEY([maNguoiDung])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[KeHoachTiem]  WITH CHECK ADD FOREIGN KEY([maVaccine])
REFERENCES [dbo].[Vaccine] ([maVaccine])
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD FOREIGN KEY([maLoaiKhuyenMai])
REFERENCES [dbo].[LoaiKhuyenMai] ([maLoaiKhuyenMai])
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD FOREIGN KEY([maDonHang])
REFERENCES [dbo].[DonHang] ([maDonHang])
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD  CONSTRAINT [FK_LichHen_DiaDiem] FOREIGN KEY([maDiaDiem])
REFERENCES [dbo].[DiaDiem] ([maDiaDiem])
GO
ALTER TABLE [dbo].[LichHen] CHECK CONSTRAINT [FK_LichHen_DiaDiem]
GO
ALTER TABLE [dbo].[LichLamViec]  WITH CHECK ADD FOREIGN KEY([maBacSi])
REFERENCES [dbo].[BacSi] ([maBacSi])
GO
ALTER TABLE [dbo].[LichLamViec]  WITH CHECK ADD FOREIGN KEY([maDiaDiem])
REFERENCES [dbo].[DiaDiem] ([maDiaDiem])
GO
ALTER TABLE [dbo].[LichTiemChuan]  WITH CHECK ADD FOREIGN KEY([maVaccine])
REFERENCES [dbo].[Vaccine] ([maVaccine])
GO
ALTER TABLE [dbo].[LoVaccine]  WITH CHECK ADD FOREIGN KEY([maNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([maNhaCungCap])
GO
ALTER TABLE [dbo].[LoVaccine]  WITH CHECK ADD FOREIGN KEY([maVaccine])
REFERENCES [dbo].[Vaccine] ([maVaccine])
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD FOREIGN KEY([maVaiTro])
REFERENCES [dbo].[VaiTro] ([maVaiTro])
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD FOREIGN KEY([maAnh])
REFERENCES [dbo].[NguonAnh] ([maAnh])
GO
ALTER TABLE [dbo].[NguoiDungQuyen]  WITH CHECK ADD FOREIGN KEY([maNguoiDung])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[NguoiDungQuyen]  WITH CHECK ADD FOREIGN KEY([maQuyen])
REFERENCES [dbo].[Quyen] ([maQuyen])
GO
ALTER TABLE [dbo].[NguonAnh]  WITH CHECK ADD FOREIGN KEY([maNhan])
REFERENCES [dbo].[NhanAnh] ([maNhan])
GO
ALTER TABLE [dbo].[NhaCungCap]  WITH CHECK ADD FOREIGN KEY([maAnh])
REFERENCES [dbo].[NguonAnh] ([maAnh])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_DiaDiem] FOREIGN KEY([maDiaDiem])
REFERENCES [dbo].[DiaDiem] ([maDiaDiem])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_DiaDiem]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_NguoiDung] FOREIGN KEY([maNguoiDung])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_NguoiDung]
GO
ALTER TABLE [dbo].[PhienDangNhap]  WITH CHECK ADD FOREIGN KEY([maNguoiDung])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[PhieuDangKyLichTiem]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDangKyLichTiem_DiaDiem] FOREIGN KEY([maDiaDiem])
REFERENCES [dbo].[DiaDiem] ([maDiaDiem])
GO
ALTER TABLE [dbo].[PhieuDangKyLichTiem] CHECK CONSTRAINT [FK_PhieuDangKyLichTiem_DiaDiem]
GO
ALTER TABLE [dbo].[PhieuDangKyLichTiem]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDangKyLichTiem_NguoiDung] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[PhieuDangKyLichTiem] CHECK CONSTRAINT [FK_PhieuDangKyLichTiem_NguoiDung]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([maNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([maNhaCungCap])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_QuanLy] FOREIGN KEY([maQuanLy])
REFERENCES [dbo].[QuanLy] ([maQuanLy])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_QuanLy]
GO
ALTER TABLE [dbo].[PhieuThanhLy]  WITH CHECK ADD FOREIGN KEY([maDiaDiem])
REFERENCES [dbo].[DiaDiem] ([maDiaDiem])
GO
ALTER TABLE [dbo].[PhieuTiem]  WITH CHECK ADD FOREIGN KEY([maBacSi])
REFERENCES [dbo].[BacSi] ([maBacSi])
GO
ALTER TABLE [dbo].[PhieuTiem]  WITH CHECK ADD  CONSTRAINT [FK__PhieuTiem__maDic__NewConstraint] FOREIGN KEY([maDichVu])
REFERENCES [dbo].[DichVu] ([maDichVu])
GO
ALTER TABLE [dbo].[PhieuTiem] CHECK CONSTRAINT [FK__PhieuTiem__maDic__NewConstraint]
GO
ALTER TABLE [dbo].[PhieuTiem]  WITH CHECK ADD  CONSTRAINT [FK__PhieuTiem__maNguoiDung__NewConstraint] FOREIGN KEY([maNguoiDung])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[PhieuTiem] CHECK CONSTRAINT [FK__PhieuTiem__maNguoiDung__NewConstraint]
GO
ALTER TABLE [dbo].[PhieuTiem]  WITH CHECK ADD  CONSTRAINT [FK_PhieuTiem_KeHoachTiem] FOREIGN KEY([maKeHoachTiem])
REFERENCES [dbo].[KeHoachTiem] ([maKeHoachTiem])
GO
ALTER TABLE [dbo].[PhieuTiem] CHECK CONSTRAINT [FK_PhieuTiem_KeHoachTiem]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD FOREIGN KEY([maDiaDiemXuat])
REFERENCES [dbo].[DiaDiem] ([maDiaDiem])
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD FOREIGN KEY([maDiaDiemNhap])
REFERENCES [dbo].[DiaDiem] ([maDiaDiem])
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuat_QuanLy] FOREIGN KEY([maQuanLy])
REFERENCES [dbo].[QuanLy] ([maQuanLy])
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PhieuXuat_QuanLy]
GO
ALTER TABLE [dbo].[QuanLy]  WITH CHECK ADD FOREIGN KEY([maNguoiDung])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[ThongTinNguoiDung]  WITH CHECK ADD FOREIGN KEY([maNguoiDung])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[TonKhoLo]  WITH CHECK ADD FOREIGN KEY([maDiaDiem])
REFERENCES [dbo].[DiaDiem] ([maDiaDiem])
GO
ALTER TABLE [dbo].[TonKhoLo]  WITH CHECK ADD FOREIGN KEY([maLo])
REFERENCES [dbo].[LoVaccine] ([maLo])
GO
ALTER TABLE [dbo].[VaiTroQuyen]  WITH CHECK ADD FOREIGN KEY([maQuyen])
REFERENCES [dbo].[Quyen] ([maQuyen])
GO
ALTER TABLE [dbo].[VaiTroQuyen]  WITH CHECK ADD FOREIGN KEY([maVaiTro])
REFERENCES [dbo].[VaiTro] ([maVaiTro])
GO
ALTER TABLE [dbo].[YeuCauDoiLich]  WITH CHECK ADD FOREIGN KEY([maLichHen])
REFERENCES [dbo].[LichHen] ([maLichHen])
GO
